
<div>
  <a class="navbar-brand page-scroll" href="#home"><img src="assets/images/logo.png"  width="150" id="logo" alt="logo top"></a> </div>


<!-- Header -->
<header id="home">
  <div class="container">
    <div class="intro-text">
      <p class="intro-heading">Welcome to Roodabatoz</p>
      <h1 class="intro-lead-in" >Search & Create Website</h1>
      <form id="signsignup_up" #signup="ngForm">
        <input type="text" placeholder="Search Website" [(ngModel)]="model.website" #website="ngModel" name="website"  required>
        <div *ngIf="website.errors && (website.dirty || website.touched)">
        <span [hidden]="website.valid || website.pristine" class="text-danger">website is required</span>
      </div>
        <input type="submit" value="Search & Create" (click)="checkwebsite()" [disabled]="!signup.form.valid">
		<p class="intro-heading" style="text-align: center !important;">OR</p>
		<input type="submit" value="Login To Your Website" (click)="navigatetologin()" [attr.disabled]="disabled ? '!signup.form.valid' : null">
	  </form>
    </div>
  </div>
</header>

 
<!-- Copyright -->
<section id="copyright" class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="copyright-text">Copyright @ 2019. All Rightes Reserved</div>
      </div>
    </div>
  </div>
</section>
<!-- /.Copyright -->

