
<div>
  <a class="navbar-brand page-scroll" href="#home"><img src="assets/images/logo.png"  width="150" id="logo" alt="logo top"></a> </div>


<!-- Header -->
<header id="home">
  <div class="container">
    <div class="intro-text">
      <p class="intro-heading">Welcome to Roodabatoz</p>
      <h1 class="intro-lead-in" >Search & Create Website</h1>
      <form id="signsignup_up" #signup="ngForm">
        <input type="text" placeholder="Search Website" [(ngModel)]="model.website" #website="ngModel" name="website"  required>
        <div *ngIf="website.errors && (website.dirty || website.touched)">
        <span [hidden]="website.valid || website.pristine" class="text-danger">website is required</span>
      </div>
        <input type="submit" value="Search & Create" (click)="checkwebsite()" [disabled]="!signup.form.valid">
		<p class="intro-heading" style="text-align: center !important;">OR</p>
		<input type="submit" value="Login To Your Website" (click)="navigatetologin()" [attr.disabled]="disabled ? '!signup.form.valid' : null">
	  </form>
    </div>
  </div>
</header>
<!-- /.Header -->


<!-- About -->
<section id="about" class="section-padding" style="background-color: white;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h5>Our Services</h5>
        <h2>For Business Growth!</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="aboutus-box">
          <div class="aboutus-circle"><i class="material-icons">person</i></div>
          <h5>Create Website</h5>
          <p>Roodabatoz Provides website for your business to grow your business in world wide</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="aboutus-box">
          <div class="aboutus-circle"><i class="material-icons">person</i></div>
          <h5>Channel and Group </h5>
          <p>Website creative ability to have full knowledge of Web Mobil and social media</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="aboutus-box">
          <div class="aboutus-circle"><i class="material-icons">person</i></div>
          <h5>Advertisment</h5>
          <p>Website creative ability to have full knowledge of Web Mobil and social media</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="aboutus-box">
          <div class="aboutus-circle"><i class="material-icons">person</i></div>
          <h5>Mall Creations</h5>
          <p>Website creative ability to have full knowledge of Web Mobil and social media</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.About -->
 



 
<!-- Services -->
<section id="services" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h5>what we provide</h5>
        <h2>our services</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="services-box">
          <div class="icon"><i class="fa fa-paint-brush fa-2x"></i></div>
          <div class="content">
            <h5>web design</h5>
            <p>Website creative ability to have full knowledge of Web Mobil and social media</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="services-box">
          <div class="icon"><i class="fa fa-code fa-2x"></i></div>
          <div class="content">
            <h5>web development</h5>
            <p>Website creative ability to have full knowledge of Web Mobil and social media</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="services-box">
          <div class="icon"><i class="fa fa-apple fa-2x"></i></div>
          <div class="content">
            <h5>iphone apps development</h5>
            <p>Website creative ability to have full knowledge of Web Mobil and social media</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="services-box">
          <div class="icon"><i class="fa fa-android fa-2x"></i></div>
          <div class="content">
            <h5>Android apps development</h5>
            <p>Website creative ability to have full knowledge of Web Mobil and social media</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="services-box">
          <div class="icon"><i class="fa fa-file-code-o fa-2x"></i></div>
          <div class="content">
            <h5>jquery development</h5>
            <p>Website creative ability to have full knowledge of Web Mobil and social media</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="services-box">
          <div class="icon"><i class="fa fa-html5 fa-2x"></i></div>
          <div class="content">
            <h5>Html5 game development</h5>
            <p>Website creative ability to have full knowledge of Web Mobil and social media</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.Services -->
 

 
<!-- Address -->
<section id="address" class="address">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>Call us on</h4>
        <h3><i class="fa fa-phone fa-2x"></i> 123456</h3>
      </div>
      <div class="col-lg-4">
        <h4>Locate us on</h4>
        <h3><i class="fa fa-map-marker fa-2x"></i> P-32 malaysia</h3>
      </div>
      <div class="col-lg-4">
        <h4>Mail us on</h4>
        <h3><i class="fa fa-envelope fa-2x"></i> info@roodabatoz.com</h3>
      </div>
    </div>
  </div>
</section>
<!-- /.Address -->
 
<!-- Footer -->
<section id="footer" class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="row">
        <div class="col-lg-3">
          <div class="footer-logo"><a href="#"><img src="assets/images/logo.png" style="width: 150px;" alt="logo bottom"></a></div>
        </div>
        <div class="col-lg-9">
          <div class="footer-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived. </div>
        </div>
      </div>
    </div>
    
  </div>
</section>
<!-- /.Footer -->
 
<!-- Copyright -->
<section id="copyright" class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="copyright-text">Copyright @ 2019. All Rightes Reserved</div>
      </div>
    </div>
  </div>
</section>
<!-- /.Copyright -->

