<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu>

<section class="content">
    <div class="container-fluid">
        <!-- <div class="block-header">
                <h2>Manage Users
                    <small>Table</small>
                </h2>
            </div> -->

        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2 class="font-bold">
                            Edit Package
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header">
                                        <!-- <h2 class="font-bold col-teal">
                                            Add Package
                                        </h2> --> 
                                    </div>
                                    <div class="body">
                                        <form class="form-horizontal" #form="ngForm">
                                            <div class="row clearfix">
                                                <div class="col-md-6">
                                                    <p><b>Package Name</b></p>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" id="name" name="name " class="form-control" placeholder="Enter PackageName" [(ngModel)]="model.name" #name="ngModel">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <p><b>Package Details</b></p>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control" id="details" name="details" placeholder="Enter User Full Name" [(ngModel)]="model.details" #details="ngModel">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-6">
                                                    <p> <b>Package Price</b></p>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="number" class="form-control" name="package_price" [(ngModel)]="model.price" #price="ngModel" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <p><b>Package Tax</b></p>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="number" class="form-control" name="tax" [(ngModel)]="model.tax" #tax="ngModel" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-6">
                                                    <p><b>Select Currency</b></p>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <select class="form-control show-tick" [(ngModel)]="model.currency" #currency="ngModel" name="currency">
                                                            <option>US-Dollar-USD</option>
                                                            <option>Australian Dollar</option>
                                                        </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <p><b>Indirect Ref Bonus</b></p>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control" required [(ngModel)]="model.indirect_ref_amount" #indirect_ref_amount="ngModel" name="indirect_ref_amount">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-6">
                                                    <p><b>Pay via voucher</b></p>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="number" class="form-control" required [(ngModel)]="model.pay_via_voucher" #pay_via_voucher="ngModel" name="pay_via_voucher">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <p><b>Minimum Payout for User</b></p>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="number" class="form-control" name="payout_for_user" required [(ngModel)]="model.payout_for_user" #payout_for_user="ngModel">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-3">
                                                    <p><b>Signup for Bonus</b></p>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="number" class="form-control" name="sbonus" [(ngModel)]="model.sbonus" #sbonus="ngModel" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <p><b>renewal days</b></p>
                                                    <div class="form-group">
                                                         <div class="form-line">
                                                            <input type="text" class="form-control" pattern="[0-9/.]*" name="validity" [(ngModel)]="model.validity" #validity="ngModel" required>
                                                        </div>
                                                        <div *ngIf="validity.errors && (validity.dirty || validity.touched)" class="">
                                                            <span *ngIf="validity.errors.required" class="text-danger">Renewal day is required</span>
                                                            <span [hidden]="!validity.hasError('pattern')" class="text-danger"> *Renewal should have numbers only. </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <p><b>Minimum Voucher</b></p>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="number" class="form-control" [(ngModel)]="model.minimum_voucher" #minimum_voucher="ngModel" name="minimum_voucher" required>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix">
                                                <div class="col-md-6">
                                                    <p><b>Maximum voucher to transfer</b></p>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="number" class="form-control" [(ngModel)]="model.maximum_transfer" #maximum_transfer="ngModel" name="maximum_transfer" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <p><b>Maximum voucher to be generate/renewal</b></p>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control" [(ngModel)]="model.maximum_generated_voucher" #maximum_generated_voucher="ngModel" name="maximum_generated_voucher" id="maximum_generated_voucher">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row clearfix" *ngFor="let item of stage_of_packages; let i = index;">
                                                <p><b>Stage{{i+1}}</b></p>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="number" class="form-control" [(ngModel)]="item.stage_bonus_amount" name="stage_bonus_amount{{i}}" required placeholder="stage {{i+1}} bonus amount">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="number" class="form-control" [(ngModel)]="item.stage_upgradation_amount" name="stage_upgradation_amount{{i}}" required required placeholder="stage {{i+1}}  upgradation amount">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <button type="button" (click)="updatepackages()" class="btn btn-primary m-t-15 waves-effect">Update Package</button>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                                        <button type="button" (click)="back()" class="btn btn-primary m-t-15 waves-effect">Cancel</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>