<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu>

<section class="content">
    <div class="container-fluid">
        <div class="block-header"></div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Package Info
                        </h2>
                        <span class="col-red">(* Activate your website from any Roodab Worldwide Area Center)</span>
                    </div>
                    <div class="body">
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Package Activation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                    </div>
                                    <div class="modal-body">update
                                        <form class="" #addpackage="ngForm">
                                            <div class="">
                                                <p><b>Package Name</b></p>
                                                <div class="form-group"> 
                                                    <div class="form-line">
                                                        <input type="text" id="package_name " name="package_name " class="form-control" placeholder="Enter PackageName" [(ngModel)]="model.package_name " #package_name="ngModel" required [readonly]="true">
                                                    </div>
                                                    <span [hidden]="package_name.valid || package_name.pristine" class="text-danger">Package Name is required</span>
                                                </div>
                                            </div>
                                            <div class="">
                                                <p><b>Package price</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" id="package_price" name="package_price" class="form-control" placeholder="Enter PackageName" [(ngModel)]="model.package_price" #package_price="ngModel" required [readonly]="true">
                                                    </div>
                                                    <span [hidden]="package_price.valid || package_price.pristine" class="text-danger">Package price is required</span>
                                                </div>
                                            </div>
                                            <div class="">
                                                <p><b>Website Name</b></p>
                                                <div class="form-group">
                                                    <div class="form-line" *ngIf="checkIswebsite">
                                                        <input type="text" id="website" name="website" class="form-control" placeholder="Enter website" [(ngModel)]="model.website"  #website="ngModel" 
                                                         readonly="">
                                                    </div>
                                                    <div class="form-line"  *ngIf="!checkIswebsite">
                                                        <input type="text" id="website" name="website" class="form-control" placeholder="Enter website" [(ngModel)]="model.website" #website="ngModel" >
                                                    </div>
                                                    <span [hidden]="website.valid || website.pristine" class="text-danger">website is required</span>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary">Pay with paypal</button>
                                                <button type="button" [disabled]="!addpackage.form.valid" (click)="pay_via_voucher()" class="btn btn-primary">Pay with voucher</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="">
                                        <form *ngIf="payment_details" class="" #voucher="ngForm">
                                            <div class="col-md-12">
                                                <p><b>User Name</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" id="username " name="username" class="form-control" placeholder="Enter username" [(ngModel)]="payment_data.username" (blur)="checkUserexist($event)" #user_name="ngModel" required>
                                                    </div>
                                                    <span [hidden]="user_name.valid || user_name.pristine" class="text-danger">User Name is required</span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <p><b>Password</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" [(ngModel)]="payment_data.password" #password="ngModel" required>
                                                    </div>
                                                    <span [hidden]="password.valid || password.pristine" class="text-danger">Password is required</span>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" [disabled]="!voucher.form.valid" class="btn btn-primary" (click)="paytoactivate()">Pay</button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="CancelPayment()">Cancel</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="renewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Package Renew</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="" #addpackage="ngForm">
                                            <div class="">
                                                <p><b>Package Name</b></p>
                                                <div class="form-group"> 
                                                    <div class="form-line">
                                                        <input type="text" id="package_name " name="package_name" class="form-control" placeholder="Enter PackageName" [(ngModel)]="model.package_name " #package_name="ngModel" required [readonly]="true">
                                                    </div>
                                                    <span [hidden]="package_name.valid || package_name.pristine" class="text-danger">Package Name is required</span>
                                                </div>
                                            </div>
                                            <div class="">
                                                <p><b>Package price</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" id="package_price" name="package_price" class="form-control" placeholder="Enter PackageName" [(ngModel)]="model.package_price" #package_price="ngModel" required [readonly]="true">
                                                    </div>
                                                    <span [hidden]="package_price.valid || package_price.pristine" class="text-danger">Package price is required</span>
                                                </div>
                                            </div>
                                            <div class="">
                                                <p><b>Website Name</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" id="website" name="website" class="form-control" placeholder="Enter website" [(ngModel)]="model.website" #website="ngModel" 
                                                         required readonly="">
                                                         <!-- (blur)="checkwebsite()" -->
                                                    </div>
                                                    <span [hidden]="website.valid || website.pristine" class="text-danger">website is required</span>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                               <!--  <button type="button" class="btn btn-primary">Pay with paypal</button> -->
                                                <button type="button" [disabled]="!addpackage.form.valid" (click)="pay_via_voucher_renew()" class="btn btn-primary">Pay with voucher</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="">
                                        <form *ngIf="!renew_payment_details" class="" #renew_voucher="ngForm">
                                            <div class="col-md-12">
                                                <p><b>User Name</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" id="username " name="username" class="form-control" placeholder="Enter username" [(ngModel)]="payment_data.username" (blur)="checkUserexist($event)" #user_name="ngModel" required>
                                                    </div>
                                                    <span [hidden]="user_name.valid || user_name.pristine" class="text-danger">User Name is required</span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <p><b>Password</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" [(ngModel)]="payment_data.password" #password="ngModel" required>
                                                    </div>
                                                    <span [hidden]="password.valid || password.pristine" class="text-danger">Password is required</span>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" [disabled]="!renew_voucher.form.valid" class="btn btn-primary" (click)="paytorenew()">Pay</button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="CancelPayment()">Cancel</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                       

                        <div class="modal fade" id="ctemplateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Change Template</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="" #addpackage="ngForm">
                                            <div class="">
                                                <p><b>Package Name</b></p>
                                                <div class="form-group"> 
                                                    <div class="form-line">
                                                        <input type="text" id="package_name " name="package_name " class="form-control" placeholder="Enter PackageName" [(ngModel)]="model.package_name " #package_name="ngModel"  [readonly]="true">
                                                    </div>
                                                    <span [hidden]="package_name.valid || package_name.pristine" class="text-danger">Package Name is required</span>
                                                </div>
                                            </div>
                                            
                                            <div class="">
                                                <p><b>Website Name</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" id="website" name="website" class="form-control" placeholder="Enter website" [(ngModel)]="model.website" #website="ngModel" 
                                                         readonly="readonly">
                                                         <!-- <input type="hidden" id="p_id" name="p_id" class="form-control" [(ngModel)]="model.p_id" #p_id="ngModel"> -->
                                                    </div>
                                                    <span [hidden]="website.valid || website.pristine" class="text-danger">website is required</span>
                                                </div>
                                            </div>

                                            <div class="">
                                                <p><b>Change Template</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <select class="form-control show-tick" [(ngModel)]="model.template" #template="ngModel" name="template" required>
                                                            <option value="">Select Template</option>
                                                            <option value="1">Template1</option>
                                                            <option value="2">Template2</option>
                                                            <option value="3">Template3</option>
                                                            <option value="4">Template4</option>
                                                            <option value="5">Template5</option>  
                                                            <!-- <option *ngFor="let model of categorylist" value="{{model.id}}">{{model.category_name}}</option> -->
                                                        </select>
                                                        <span [hidden]="template.valid || template.pristine" class="text-danger">Template is required</span>
                                                        
                                                    </div>
                                                   
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" [disabled]="!addpackage.form.valid" (click)="updatetemplate()" class="btn btn-primary">Change Template</button>
                                            </div>
                                        </form>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable packinfo_table" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Website link</th>
                                        <th>Change Template</th>
                                        <th>Action</th>
                                        <th>Package Taken</th>
                                        <th>Marketer</th>
                                        <th>Expired</th>
                                        <th>Delivered Date</th>
                                        <th>Status</th>
                                        <th *ngIf="data.package_status==1">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of packagelist let i=index">
                                        <th scope="row">{{i+1}}</th>
                                          <td><a href="website/{{data.website}}">website</a></td>
                                        <td><a href="#" (click)="onGoToPage2(data.package_name,data.package_price,data.pck_user_id,data.pck_id,data.pck_user_master_id,data.website,data.template)" data-toggle="modal" data-target="#ctemplateModal">
                                            <span>Change Template</span>
                                        </a></td>
                                        <td>
                                            <a href="#" (click)="onGoToPage2(data.package_name,data.package_price,data.pck_user_id,data.pck_id,data.pck_user_master_id,data.website,data.template)" data-toggle="modal" data-target="#renewModal">
                                            <span *ngIf="data.package_status==2">Renew</span>
                                        </a>
                                            <span *ngIf="data.package_status==0">Activated</span>
                                            <a href="#" (click)="onGoToPage2(data.package_name,data.package_price,data.pck_user_id,data.pck_id,data.pck_user_master_id,data.website,data.template)" data-toggle="modal" data-target="#exampleModal">
                                                <span *ngIf="data.package_status==1">Yet to activate</span>
                                            </a>
                                           <!--  <a href="#" data-toggle="modal" data-target="#templatesetting"><i class="material-icons">settings</i></a> -->
                                        </td>
                                        <td>{{data.package_name}}</td>
                                        <td>{{data.marketer}}</td>
                                        <td>{{data.renew_date}}</td>
                                        <td>{{data.Delivered_date}}</td>
                                        <td>{{data.status}}</td>
                                        <a href="javascript:void(0);" 
                                        (click)="deletepackagedetails(data.pck_user_master_id,data.website)" *ngIf="model.usergroup!=2"><td><i class="material-icons">delete</i>
                                       </td></a>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #END# Striped Rows -->