<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu>

<section class="content">
    <div class="container-fluid">
        <!-- <div class="block-header">
                <h2>Manage Users
                    <small>Table</small>
                </h2>
            </div> -->

        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2 class="font-bold">
                            {{'Edit' | translate}} {{'template' | translate}} {{'Slider' | translate}}
                        </h2>
                    </div>
                    <div class="body">
                        <form class="" #registerForm="ngForm">
                            <div class="row clearfix">
                                <div class="col-md-6">
                                    <p><b>{{'Select' | translate}} {{'Website' | translate}}</b></p>
                                    <div class="form-group">
                                       <div class="form-line">
                                            <select class="form-control show-tick" [(ngModel)]="model.website" #website="ngModel" name="url" required>
                                                <option [ngValue]="select">select website</option>    
                                                <option *ngFor="let model of websitelist" value="{{model.website}}">{{model.website}}</option>
                                            </select>
                                            <span [hidden]="website.valid || website.pristine" class="text-danger">website is required</span>
                                            </div>
                                    </div>
                                </div>
                                 <div class="col-md-7">
                                                <p><b>{{'preview' | translate}}</b></p>
                                                <div class="">
                                                   <div class="form-line">
                                                      <img src="{{image_url}}{{model.slider_image}}" style="width:40%;">     
                                                    </div>
                                                </div>
                                            </div>
                                <div class="col-md-6">
                                   <p><b>{{'Upload' | translate}} {{'image' | translate}}</b></p>
                                    <div class="form-group">
                                       <div class="form-line">
                                           <!--  <input type="file" name="adimage" (change)=fileEvent($event) required>   --> 
                                             <input type="file" (change)="fileChangeEvent($event)" />
                                            <image-cropper
                                                [imageChangedEvent]="imageChangedEvent"
                                                [maintainAspectRatio]="true"
                                                [aspectRatio]="4 / 3"
                                                [resizeToWidth]="128"
                                                format="png"
                                                (imageCropped)="imageCropped($event)"          
                                            ></image-cropper>
                                            <img [src]="croppedImage" /> 
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-md-2">
                                 <div class="preloader pl-size-xs" style="display:none;">
                                    <div class="spinner-layer pl-red-grey">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            
                        </form>
                        <button type="submit" [disabled]="!registerForm.form.valid || !Iserror" class="btn btn-primary m-t-15 waves-effect" (click)="updatetemp()">{{'Update' | translate}} {{'template' | translate}} {{'Slider' | translate}}</button>&nbsp; &nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-primary m-t-15 waves-effect" (click)="back()">{{'Cancel' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>