<app-topnav *ngIf="malltypeid=='' || malltypeid==null"></app-topnav>
<app-sidemenu *ngIf="malltypeid=='' || malltypeid==null"></app-sidemenu> 

<app-malldashboard *ngIf="malltypeid!=null"></app-malldashboard>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2 class="font-bold">
                            Edit Shop
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header">
                                        
                                    </div>
                                    <div class="body">
                                        <form class="" #addshop="ngForm">
                                        <div class="row clearfix">
                                            <div class="col-md-6">
                                                <p><b>Select Mall</b></p>
                                                <div class="form-group">
                                                   <div class="form-line">
                                                        <select class="form-control show-tick" [(ngModel)]="model.mall_id" #mall_id="ngModel"  (change)="getfloorlists()" name="mall_id" required>
                                                            <option [ngValue]="select">select Mall</option>    
                                                            <option *ngFor="let model of malllist" value="{{model.id}}">{{model.mall_name}}</option>
                                                        </select>
                                                        <span [hidden]="mall_id.valid || mall_id.pristine" class="text-danger">Mall is required</span>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <p><b>Select Floor</b></p>
                                                <div class="form-group">
                                                   <div class="form-line">
                                                        <select class="form-control show-tick" [(ngModel)]="model.floor_id" #floor_id="ngModel" name="floor_id" required>
                                                            <option [ngValue]="select">select Floor</option>    
                                                            <option *ngFor="let model of floorlist" value="{{model.id}}">{{model.floor_name}}</option>
                                                        </select>
                                                        <span [hidden]="floor_id.valid || floor_id.pristine" class="text-danger">Floor is required</span>
                                                        </div>
                                                </div>
                                            </div> 
                                            
                                            <div class="col-md-6">
                                                <b>Shop Name</b>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" placeholder="Enter shop" [(ngModel)]="model.shop_name" name="shop_name" #shop_name="ngModel" required>
                                                    </div>
                                                      <span [hidden]="shop_name.valid || shop_name.pristine" class="text-danger">shop Name is required</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <b>Logo</b>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="file"  name="chatimage" id="chatimage"  (change)="onSelectFile($event)" class="btn btn-primary disabledsave" name="scan_img" >
                                                    </div>
                                                     
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                    <b>Banner</b>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="file"  name="banner" id="banner"  (change)="banneronSelectFile($event)" class="btn btn-primary disabledsave" name="banner" >
                                                        </div>
                                                         
                                                    </div>
                                                </div>
                                            <div class="col-md-6">
                                                <b>User Name</b>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" placeholder="Enter username" [(ngModel)]="model.username" name="username" #username="ngModel" required>
                                                    </div>
                                                      <span [hidden]="username.valid || username.pristine" class="text-danger">User Name is required</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6"> 
                                                <b>Password</b>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" placeholder="Enter product" [(ngModel)]="model.password" name="password" #password="ngModel" required>
                                                    </div>
                                                      <span [hidden]="password.valid || password.pristine" class="text-danger">Password is required</span>
                                                </div>
                                            </div>
                                        </div>       
                                        <button type="submit" [disabled]="!addshop.form.valid" class="btn btn-primary m-t-15 waves-effect" (click)="updateshoplist()">Update Shop</button>&nbsp;
                                        &nbsp;&nbsp;&nbsp;<button type="button" (click)="back()" class="btn btn-primary m-t-15 waves-effect">Cancel</button>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>