<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2 class="font-bold">
                            {{'Edit' | translate}} {{'Product' | translate}}
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header">
                                        <!-- <h2 class="font-bold col-teal">
                                            Add Product
                                        </h2> -->
                                    </div>
                                    <div class="body">
                                        <form #adddproduct="ngForm">
                                        <div class="row clearfix">
                                            <div class="col-md-6">
                                                <p><b>{{'Category' | translate}}</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                         <select class="form-control show-tick" [(ngModel)]="model.category_id" #category_id="ngModel" name="category_id" (change)="getsubcategory($event.target.value)" required>
                                                            <option [ngValue]="select">select category</option>    
                                                            <option *ngFor="let model of categorylist" value="{{model.id}}">{{model.category_name}}</option>
                                                        </select>
                                                        <span [hidden]="category_id.valid || category_id.pristine" class="text-danger">Category is required</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <p><b>{{'SubCategory' | translate}}</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <select class="form-control show-tick" [(ngModel)]="model.sub_category_id" #sub_category_id="ngModel" name="sub_category_id" required>
                                                        <option [ngValue]="select">select subcategory</option>    
                                                        <option *ngFor="let model of subcategorylist" value="{{model.id}}">{{model.sub_category_name}}</option>
                                                    </select>
                                                    <span [hidden]="sub_category_id.valid || sub_category_id.pristine" class="text-danger">sub Category is required</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row clearfix">
                                            <div class="col-md-6">
                                                <p><b>{{'Product' | translate}}{{'Name' | translate}}</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" placeholder="{{'Product' | translate}}{{'Name' | translate}}" [(ngModel)]="model.product_name" #product_name="ngModel" name="product_name" required>
                                                    </div>
                                                    <span [hidden]="product_name.valid || product_name.pristine" class="text-danger">Product is required</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <p><b>{{'SKU' | translate}}</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" placeholder="{{'SKU' | translate}}" [(ngModel)]="model.sku" #sku="ngModel" name="sku" required  [readonly]="!IsshowSku">
                                                    </div>
                                                    <span [hidden]="sku.valid || sku.pristine" class="text-danger">SKU is required</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-md-6">
                                                <p><b>{{'Product Price' | translate}}</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="number" class="form-control" [(ngModel)]="model.price" #price="ngModel" name="price" required>     
                                                    </div>
                                                     <span [hidden]="price.valid || price.pristine" class="text-danger">Price is required</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <p><b>{{'Currency Type' | translate}}</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <select class="form-control show-tick" [(ngModel)]="model.currency" #currency="ngModel" name="currency" required>
                                                            <option value="select">select currency</option>
                                                            <option value="USD" selected="selected">United States Dollars</option>
                                                            <option value="EUR">Euro</option>
                                                            <option value="GBP">United Kingdom Pounds</option>
                                                            <option value="DZD">Algeria Dinars</option>
                                                            <option value="ARP">Argentina Pesos</option>
                                                            <option value="AUD">Australia Dollars</option>
                                                            <option value="ATS">Austria Schillings</option>
                                                            <option value="BSD">Bahamas Dollars</option>
                                                            <option value="BBD">Barbados Dollars</option>
                                                            <option value="BEF">Belgium Francs</option>
                                                            <option value="BMD">Bermuda Dollars</option>
                                                            <option value="BRR">Brazil Real</option>
                                                            <option value="BGL">Bulgaria Lev</option>
                                                            <option value="CAD">Canada Dollars</option>
                                                            <option value="CLP">Chile Pesos</option>
                                                            <option value="CNY">China Yuan Renmimbi</option>
                                                            <option value="CYP">Cyprus Pounds</option>
                                                            <option value="CSK">Czech Republic Koruna</option>
                                                            <option value="DKK">Denmark Kroner</option>
                                                            <option value="NLG">Dutch Guilders</option>
                                                            <option value="XCD">Eastern Caribbean Dollars</option>
                                                            <option value="EGP">Egypt Pounds</option>
                                                            <option value="FJD">Fiji Dollars</option>
                                                            <option value="FIM">Finland Markka</option>
                                                            <option value="FRF">France Francs</option>
                                                            <option value="DEM">Germany Deutsche Marks</option>
                                                            <option value="XAU">Gold Ounces</option>
                                                            <option value="GRD">Greece Drachmas</option>
                                                            <option value="HKD">Hong Kong Dollars</option>
                                                            <option value="HUF">Hungary Forint</option>
                                                            <option value="ISK">Iceland Krona</option>
                                                            <option value="INR">India Rupees</option>
                                                            <option value="IDR">Indonesia Rupiah</option>
                                                            <option value="IEP">Ireland Punt</option>
                                                            <option value="IRR">Iranian rial</option>
                                                            <option value="ILS">Israel New Shekels</option>
                                                            <option value="ITL">Italy Lira</option>
                                                            <option value="JMD">Jamaica Dollars</option>
                                                            <option value="JPY">Japan Yen</option>
                                                            <option value="JOD">Jordan Dinar</option>
                                                            <option value="KRW">Korea (South) Won</option>
                                                            <option value="LBP">Lebanon Pounds</option>
                                                            <option value="LUF">Luxembourg Francs</option>
                                                            <option value="MYR">Malaysia Ringgit</option>
                                                            <option value="MXP">Mexico Pesos</option>
                                                            <option value="NLG">Netherlands Guilders</option>
                                                            <option value="NZD">New Zealand Dollars</option>
                                                            <option value="NOK">Norway Kroner</option>
                                                            <option value="PKR">Pakistan Rupees</option>
                                                            <option value="XPD">Palladium Ounces</option>
                                                            <option value="PHP">Philippines Pesos</option>
                                                            <option value="XPT">Platinum Ounces</option>
                                                            <option value="PLZ">Poland Zloty</option>
                                                            <option value="PTE">Portugal Escudo</option>
                                                            <option value="ROL">Romania Leu</option>
                                                            <option value="RUR">Russia Rubles</option>
                                                            <option value="SAR">Saudi Arabia Riyal</option>
                                                            <option value="XAG">Silver Ounces</option>
                                                            <option value="SGD">Singapore Dollars</option>
                                                            <option value="SKK">Slovakia Koruna</option>
                                                            <option value="ZAR">South Africa Rand</option>
                                                            <option value="KRW">South Korea Won</option>
                                                            <option value="ESP">Spain Pesetas</option>
                                                            <option value="XDR">Special Drawing Right (IMF)</option>
                                                            <option value="SDD">Sudan Dinar</option>
                                                            <option value="SEK">Sweden Krona</option>
                                                            <option value="CHF">Switzerland Francs</option>
                                                            <option value="TWD">Taiwan Dollars</option>
                                                            <option value="THB">Thailand Baht</option>
                                                            <option value="TTD">Trinidad and Tobago Dollars</option>
                                                            <option value="TRL">Turkey Lira</option>
                                                            <option value="VEB">Venezuela Bolivar</option>
                                                            <option value="ZMK">Zambia Kwacha</option>
                                                            <option value="EUR">Euro</option>
                                                            <option value="XCD">Eastern Caribbean Dollars</option>
                                                            <option value="XDR">Special Drawing Right (IMF)</option>
                                                            <option value="XAG">Silver Ounces</option>
                                                            <option value="XAU">Gold Ounces</option>
                                                            <option value="XPD">Palladium Ounces</option>
                                                            <option value="XPT">Platinum Ounces</option>
                                                        </select>
                                                         <span [hidden]="currency.valid || currency.pristine" class="text-danger">Currency is required</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="row clearfix">
                                            <div class="col-md-6">
                                                <p><b>{{'Select' | translate}} {{'Website' | translate}}</b></p>
                                                <div class="form-group">
                                                   <div class="form-line">
                                                        <select class="form-control show-tick" [(ngModel)]="model.website" #website="ngModel" name="website" required>
                                                            <option [ngValue]="select">select website</option>    
                                                            <option *ngFor="let model of websitelist" value="{{model.website}}">{{model.website}}</option>
                                                        </select>
                                                        <span [hidden]="website.valid || website.pristine" class="text-danger">website is required</span>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <p><b>{{'Product Image' | translate}}</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="file" (change)="fileChangeEvent($event)" />
                                                    <image-cropper
                                                        [imageChangedEvent]="imageChangedEvent"
                                                        [maintainAspectRatio]="false"
                                                        [aspectRatio]="4 / 3"           
                                                        format="png"
                                                        (imageCropped)="imageCropped($event)"           
                                                    ></image-cropper>
                                                    <img [src]="croppedImage" style="width:30%;"/>              
                                                    </div>
                                                    <img src="{{image_url}}{{model.product_image}}" style="width:20%;">  
                                                </div>
                                            </div>                                         
                                        </div>      
                                        <div class="row clearfix">
                                            <div class="col-md-6">
                                                <p><b>{{'Short Description' | translate}}</b></p>
                                                <div class="form-group">
                                                   <div class="form-line">                                                      
                                                    <textarea id="tinymce" [(ngModel)]="model.short_desc" #short_desc="ngModel" name="short_desc">
                                                        
                                                    </textarea>
                                                     </div>
                                                </div>
                                             </div>
                                            <div class="col-md-6">
                                                <p><b>{{'Description' | translate}}</b></p>
                                                <div class="form-group">
                                                   <div class="form-line">                                                      
                                                    <textarea id="tinymce" [(ngModel)]="model.long_desc" #desc="ngModel" name="desc">
                                                        
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>
                                        </div> 
                                        <div class="row clearfix"> 
                                            <div class="col-md-10">
                                                <button type="button" class="btn btn-default waves-effect m-r-20" data-toggle="modal" data-target="#AttributeModal">Product Attribute</button>
                                                <button type="button" class="btn btn-default waves-effect m-r-20" data-toggle="modal" data-target="#VariationModal">Product Variations</button>
                                            </div>
                                        </div>
                                        <!-- </div>  -->
                                        <div class="row clearfix" > 
                                            <div class="col-md-6" *ngIf="attribute_list.length>0">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped table-hover dataTable adsinfo_table" id="dataTable1">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>{{'Attribute Name' | translate}}</th>
                                                        <th>{{'Attribute value' | translate}}</th>
                                                        <th>{{'actions' | translate}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of attribute_list let idx=index">
                                                        <th scope="row">{{idx+1}}</th>
                                                        <td>{{data.name}}</td>
                                                        <td>{{data.value}}</td>
                                                        <td>                                                
                                                            <a href="javascript:void(0);" (click)="deleteAttribute(idx)"><i class="material-icons">delete</i>
                                                            </a> 
                                                        </td>
                                                    </tr>                                             
                                                </tbody>
                                            </table>
                                                </div>  
                                            </div>
                                            <div class="col-md-6" *ngIf="variation_list.length>0">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped table-hover dataTable adsinfo_table" id="dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>{{'Variation Name' | translate}}</th>
                                                        <th>{{'Variation value' | translate}}</th>
                                                        <th>{{'actions' | translate}}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of variation_list let idx=index">
                                                        <th scope="row">{{idx+1}}</th>
                                                        <td>{{data.name}}</td>
                                                        <td>{{data.value}}</td>
                                                        <td>                                                
                                                            <a href="javascript:void(0);" (click)="deleteVariation(idx)"><i class="material-icons">delete</i>
                                                            </a> 
                                                        </td>
                                                    </tr>                                             
                                                </tbody>
                                            </table>
                                                </div>  
                                            </div>
                                        </div>                         
                                        <button type="button" [disabled]="!adddproduct.form.valid" class="btn btn-primary m-t-15 waves-effect" (click)="updateproduct()">{{'Update' | translate}} {{'Product' | translate}}</button>&nbsp;
                                        &nbsp;&nbsp;&nbsp;<button type="button" (click)="back()" class="btn btn-primary m-t-15 waves-effect">{{'Cancel' | translate}}</button>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>

<div class="modal fade" id="AttributeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="AttributeModalLabel">Product Attribute</h4>
            </div>
            <div class="modal-body">
                <form class="" #Atrribute="ngForm">
                    <div class="">                        
                        <div class="form-group"> 
                            <div class="form-line">
                                <input type="text" id="attribute_name" name="attribute_name" class="form-control" placeholder="Attribute Name" [(ngModel)]="product_setting_model.attribute_name" #attribute_name="ngModel" required>
                            </div>
                            <span [hidden]="attribute_name.valid || attribute_name.pristine" class="text-danger">Attribute Name is required</span>
                        </div>
                    </div>
                    
                    <div class="">                       
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="attribute_value" name="attribute_value" class="form-control" placeholder="Attribute Value" [(ngModel)]="product_setting_model.attribute_value" #attribute_value="ngModel" required>
                            </div>
                            <span [hidden]="attribute_value.valid || attribute_value.pristine" class="text-danger">Attribute value is required</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"  [disabled]="!Atrribute.form.valid" (click)="updateAttribute()" class="btn btn-primary">{{'Update Product Attribute' | translate}}</button>
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                    </div>
                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button"  (click)="updateAttribute()" class="btn btn-primary">{{'Update Product Attribute' | translate}}</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div> -->
        </div>
    </div>
</div>

<div class="modal fade" id="VariationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="AttributeModalLabel">Product Variations</h4>
            </div>
            <div class="modal-body">
                <form class="" #Variation="ngForm">
                    <div class="">                        
                        <div class="form-group"> 
                            <div class="form-line">
                                <input type="text" id="variation_name" name="variation_name" class="form-control" placeholder="Attribute Name" [(ngModel)]="product_setting_model.variation_name" #variation_name="ngModel" required>
                            </div>
                            <span [hidden]="variation_name.valid || variation_name.pristine" class="text-danger">Variation Name is required</span>
                        </div>
                    </div>
                    
                    <div class="">                       
                        <div class="form-group">
                            <div class="form-line">
                                <input type="text" id="variation_value" name="variation_value" class="form-control" placeholder="Attribute Value" [(ngModel)]="product_setting_model.variation_value" #variation_value="ngModel" required>
                            </div>
                            <span [hidden]="variation_value.valid || variation_value.pristine" class="text-danger">Variation value is required</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" [disabled]="!Variation.form.valid" (click)="updateVariation()" class="btn btn-primary">{{'Update Product Variation' | translate}}</button>
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                    </div>
                </form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div> -->
        </div>
    </div>
</div>