<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu>

<section class="content">
    <div class="container-fluid">
        <!-- <div class="block-header">
                <h2>Manage Users
                    <small>Table</small>
                </h2>
            </div> -->

        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2 class="font-bold">
                            Add Earnings
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <form class="" #form="ngForm"> 
                                <div class="col-md-6">
                                    <p><b>Select Package To Update/Edit</b><span class="text-danger">*</span></p>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select class="form-control show-tick" [(ngModel)]="model.package_id" #package_id="ngModel" name="package_id" required>
                                            <option [ngValue]="select">select package</option>    
                                            <option *ngFor="let model of packagelist" value="{{model.id}}">{{model.package_name}}</option>
                                        </select>
                                        </div>
                                        <span [hidden]="package_id.valid || package_id.pristine" class="text-danger">Package  is required</span>
                                    </div>
                                </div>                             
                                <div class="row clearfix">
                                    <div class="col-md-6">
                                        <p> <b>Downline Count</b></p>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="password" [(ngModel)]="model.downline_count" #downline_count="ngModel" placeholder="Downline Count">
                                            </div>
                                        </div>
                                    </div>                                 
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-6" style="padding-left: 32px !important;">
                                        <b>Maximum Earning Amount</b>
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input type="text" class="form-control" [(ngModel)]="model.earning_amt" #earning_amt="ngModel" name="earning_amt" placeholder="Enter Earning amount">
                                            </div>
                                        </div>
                                    </div>                                   
                                </div>
                                
                              
                            </form>
                            <button type="button" class="btn btn-primary m-t-15 waves-effect" 
                            (click)="addearnigs()">Add Earnings</button>&nbsp; &nbsp;&nbsp;&nbsp;
                            <button type="button" class="btn btn-primary m-t-15 waves-effect" (click)="back()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>