<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2 class="font-bold">
                            {{'Add' | translate}}{{'Section' | translate}}
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header">
                                        
                                    </div>
                                    <div class="body">
                                        <form class="" #addsection="ngForm"> 
                                             <div class="col-md-12">
                                                <div class="form-group">
                                                 <label for="NameSurname" class="col-sm-2 control-label">{{'Website' | translate}}</label>
                                                <div class="col-sm-10">
                                                    <div class="form-line">
                                                         <select class="form-control show-tick" [(ngModel)]="model.website" #website="ngModel" name="website" required>
                                                            <option [ngValue]="select">select website</option>    
                                                            <option *ngFor="let model of websitelist" value="{{model.website}}">{{model.website}}</option>
                                                        </select>
                                                        <span [hidden]="website.valid || website.pristine" class="text-danger">website is required</span>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>                                           
                                              <div class="col-md-12">
                                                <div class="form-group">
                                                 <label for="NameSurname" class="col-sm-2 control-label">{{'Section Name' | translate}}</label>
                                                <div class="col-sm-10">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" id="sectionname" name="sectionname" [(ngModel)]="model.section_name"  #sectionname="ngModel" placeholder="{{'Section Name' | translate}}" required>
                                                    </div>
                                                </div>
                                                </div>
                                            </div> 
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                 <label for="NameSurname" class="col-sm-3 control-label">{{'Section view' | translate}}</label>
                                                <div class="col-sm-9">
                                                    <div class="form-line">
                                                         <select class="form-control show-tick" [(ngModel)]="model.section_view" #section_view="ngModel" name="section_view" required>
                                                            <option value="select">select view_type</option> 
                                                            <option value="1">{{ 'Grid View' | translate}}</option> 
                                                            <option value="2">{{ 'List View' | translate }}</option>
                                                            <option value="3">{{ 'Single Image Left View' | translate }} </option>
                                                            <option value="4">{{ 'Single Image Right View' | translate }}</option>
                                                        </select>
                                                        <span [hidden]="section_view.valid || section_view.pristine" class="text-danger">view is required</span>
                                                    </div>
                                                </div>
                                                </div>
                                            </div> 
                                             <div class="col-md-12">
                                                <p><b>{{'Description' | translate}}</b></p>
                                                <div class="form-group">
                                                   <div class="form-line">                             
	                                                    <textarea id="tinymce" [(ngModel)]="model.long_desc" #long_desc="ngModel" name="long_desc">
	                                                    </textarea>
	                                                </div>
                                            	</div>
                                       		 </div>
                                        
                                          
	                                        <button type="submit" [disabled]="!addsection.form.valid" class="btn btn-primary m-t-15 waves-effect" (click)="add_section()">{{'Add' | translate}}{{'Section' | translate}}</button>&nbsp;
	                                        &nbsp;&nbsp;&nbsp;<button type="button" (click)="back()" class="btn btn-primary m-t-15 waves-effect">{{'Cancel' | translate}}</button>
                                    	</form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>