<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu> 

<section class="content">
        <div class="container-fluid">           
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                      <div class="header">
                          <h2>
                              Ads List
                              <button type="button" (click)="navigateAddads()" class="btn btn-success waves-effect pull-right">Add Ads</button>                 
                          </h2>
                      </div>
                      <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>Website Name</th>
                                      <th>Created Date</th>
                                      <th>Created By</th>
                                      <th>Actions</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let data of advertisementlist let idx=index">
                                      <th scope="row">{{idx+1}}</th>
                                      <td>{{data.website}}</td>
                                      <td>{{data.created_at}}</td>
                                      <td>{{data.created_by}}</td>
                                      <td>
                                        <a href="javascript:void(0);" (click)="editad(data.id)"><i class="material-icons">edit</i></a>
                                        <a href="javascript:void(0);" (click)="deletead(data.id)"><i class="material-icons">delete</i></a>
                                        <input *ngIf="model.usergroup==1" type="button" name="iba_ad" (click)="changeibastatus(data.id)" value="Enable IBA">
                                    </td>
                                  </tr>
                                 
                              </tbody>
                          </table>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
</section>
<!-- #END# Striped Rows -->