<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu> 

<section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>
                  Manage SubCategory                   
                    <!-- <small>Table</small> -->
                </h2>
            </div>
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                      <div class="header">
                          <h2>
                              SubCategory List
                              <button type="button" (click)="navigateAddsubcategory()" class="btn btn-success waves-effect pull-right">Add Subcategory</button>                                    
                          </h2>
                      </div>
                      <div class="body table-responsive">
                          <table class="table table-striped">
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>CATEGORY NAME</th>
                                      <th>CATEGORY NAME</th>
                                      <th>CREATED DATE</th>
                                      <th>CREATED BY</th>
                                      <th>ACTION</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <th scope="row">1</th>
                                      <td>Category 1</td>
                                      <td>Sub Category 1</td>
                                      <td>14/02/19</td>
                                      <td>admin</td>
                                      <td>
                                        <a href="#"><i class="material-icons">edit</i></a>
                                        <a href="#"><i class="material-icons">delete</i></a>
                                    </td>
                                  </tr>
                                  <tr>
                                      <th scope="row">2</th>
                                      <td>Category 2</td>
                                      <td>Sub Category 2</td>
                                      <td>14/02/19</td>
                                      <td>admin</td>
                                      <td>
                                        <a href="#"><i class="material-icons">edit</i></a>
                                        <a href="#"><i class="material-icons">delete</i></a>
                                    </td>
                                  </tr>                                  
                                  <tr>
                                      <th scope="row">3</th>
                                      <td>Category 2</td>
                                      <td>Sub Category 3</td>
                                      <td>15/02/19</td>
                                      <td>admin</td>
                                      <td>
                                        <a href="#"><i class="material-icons">edit</i></a>
                                        <a href="#"><i class="material-icons">delete</i></a>
                                    </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
            </div>
          </div>
</section>
<!-- #END# Striped Rows -->