<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu> 

<section class="content">
        <div class="container-fluid">
            <div class="block-header">
               
            </div>
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                      <div class="header">
                          <h2>
                              SubCategory List
                              <button type="button" (click)="navigateAddsubcategory()" class="btn btn-success waves-effect pull-right">Add Subcategory</button>                                    
                          </h2>
                      </div>
                      <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover subcategory_table" id="subcategory_table">
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>CATEGORY NAME</th>
                                      <th>SUB CATEGORY NAME</th>
                                      <th>CREATED DATE</th>
                                      <th>CREATED BY</th>
                                      <th>ACTION</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let data of sub_categorylist let idx=index">
                                      <th scope="row">{{idx+1}}</th>
                                      <td>{{data.category_name}}</td>
                                      <td>{{data.sub_category_name}}</td>
                                      <td>{{data.created_date}}</td>
                                      <td>{{data.created_by}}</td>
                                      <td>
                                        <a href="javascript:void(0);" (click)="editsubcategory(data.id)"><i class="material-icons">edit</i></a>
                                        <a href="javascript:void(0);" (click)="deletesubcategory(data.id)"><i class="material-icons">delete</i></a>
                                    </td>
                                  </tr>
                                  
                              </tbody>
                          </table>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
</section>
<!-- #END# Striped Rows -->