<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu> 

<section class="content">
        <div class="container-fluid">
            <div class="block-header"></div>
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                      <div class="header">
                          <h2>
                              Product List
                              <button type="button" (click)="navigateAddproduct()" class="btn btn-success waves-effect pull-right">Add Product</button>                 
                          </h2>
                      </div>
                      <div class="body">
                          <div class="table-responsive">
                              <table class="table table-bordered table-striped table-hover dataTable productinfo_table" id="dataTable">
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>PRODUCT</th>
                                      <th>CATEGORY</th>
                                      <th>WEBSITE</th>
                                      <th>PRICE</th>
                                      <th>CREATED DATE</th>
                                      <th>ACTION</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let data of product_det let idx=index">
                                      <th scope="row">{{idx+1}}</th>
                                      <td>{{data.product_name}}</td>
                                      <td>{{categoryDet[idx]}}</td>
                                      <td>{{data.website}}</td>
                                      <td>{{data.price}}</td>
                                      <td>{{data.created_date}}</td>
                                      <td>
                                         <a href="javascript:void(0);" (click)="editproduct(data.id)"><i class="material-icons">edit</i></a>
                                        <a href="javascript:void(0);" (click)="deleteproduct(data.id)"><i class="material-icons">delete</i></a>
                                    </td>                                      
                                  </tr> 
                              </tbody>
                          </table>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
</section>
<!-- #END# Striped Rows -->