<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Roodabatoz Chat</title>
	<!-- <link rel="stylesheet" href="http://localhost/ag7dev.git/trunk/src/assets/chat/bootstrap.min.css" > -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
		integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
		integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<!-- <link rel="stylesheet" href="http://localhost/ag7dev.git/trunk/src/assets/chat/all.css" >

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

	<style>
#chat-list {overflow-y: scroll; height:510px;}
#groupmsgtxt{ min-width: 260px !important;}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


	
#message-area{position: relative !important;}
.msg-nav-bar{position:absolute!important;}
.msg-nav-bar .nav-item.dropdown{margin-right:20px !important;}
		#floatingRectangle {
			display: none !important;
		}

		.mySlides {
			display: none;
		}

		.pimage0 {
			display: block;
		}

		img {
			vertical-align: middle;
		}

		/* Slideshow container */
		.slideshow-container {
			max-width: 1000px;
			position: relative;
			margin: auto;
		}

		.dhana {
			display: none !important;
		}

		/* Next & previous buttons */
		.prev,
		.next {
			cursor: pointer;
			position: absolute;
			top: 50%;
			width: auto;
			padding: 16px;
			margin-top: -22px;
			color: white;
			font-weight: bold;
			font-size: 18px;
			transition: 0.6s ease;
			border-radius: 0 3px 3px 0;
			user-select: none;
		}

		/* Position the "next button" to the right */
		.next {
			right: 0;
			border-radius: 3px 0 0 3px;
		}

		/* On hover, add a black background color with a little bit see-through */
		.prev:hover,
		.next:hover {
			background-color: rgba(0, 0, 0, 0.8);
		}

		/* Caption text */
		.text {
			color: #f2f2f2;
			font-size: 15px;
			padding: 8px 12px;
			position: absolute;
			bottom: 8px;
			width: 100%;
			text-align: center;
		}

		/* Number text (1/3 etc) */
		.numbertext {
			color: #f2f2f2;
			font-size: 12px;
			padding: 8px 12px;
			position: absolute;
			top: 0;
		}

		/* The dots/bullets/indicators */
		.dot {
			cursor: pointer;
			height: 15px;
			width: 15px;
			margin: 0 2px;
			background-color: #bbb;
			border-radius: 50%;
			display: inline-block;
			transition: background-color 0.6s ease;
		}

		.active,
		.dot:hover {
			background-color: #717171;
		}

		/* Fading animation */
		.fade {
			-webkit-animation-name: fade;
			-webkit-animation-duration: 1.5s;
			animation-name: fade;
			animation-duration: 1.5s;
		}

		@-webkit-keyframes fade {
			from {
				opacity: .4
			}

			to {
				opacity: 1
			}
		}

		@keyframes fade {
			from {
				opacity: .4
			}

			to {
				opacity: 1
			}
		}

		/* On smaller screens, decrease text size */
		@media only screen and (max-width: 300px) {

			.prev,
			.next,
			.text {
				font-size: 11px
			}
		}

		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}

		td,
		th {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #dddddd;
		}


		.chat-wrapp{
			overflow-x:hidden;
		}
	</style>
</head>

<body style="font-size: 16px !important;" class="chat-wrapp">

	<div class="container-fluid" id="main-container">

		<!-- The Modal -->
		<div class="modal" id="myModal">
			<div class="modal-dialog">
				<form name="groupForm" #groupForm="ngForm">
					<div class="modal-content">

						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Create New Group/Channel</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<!-- Modal body -->
						<div class="modal-body">
							<div class="form-group m-b-0">
								<div class="form-line radio-btns">
									<label for="groupname" class="m-r-3">Name :<span
											style="color: red;">*</span></label>&nbsp;
									<input name="groupname" [(ngModel)]="Newgroupmodel.groupname" type="text"
										id="groupname" class="form-control" required #groupname="ngModel" />
								</div>
								<!-- <span [hidden]="(Newgroupmodel.groupname!='') || groupname.pristine" class="text-danger">Group Name is required</span> -->
							</div>
							<div class="form-group m-b-0">
								<div class="form-line radio-btns">
									<input name="channelgroup" [(ngModel)]="Newgroupmodel.channelgroup" type="radio"
										id="channel" class="with-gap radio-col-grey"
										[checked]="Newgroupmodel.channelgroup==1" [value]="1" />
									<label for="channel" class="m-r-3">Channel</label>&nbsp;
									<input name="channelgroup" [(ngModel)]="Newgroupmodel.channelgroup" type="radio"
										id="group" class="with-gap radio-col-grey"
										[checked]="Newgroupmodel.channelgroup==2" [value]="2" />
									<label for="group">Group</label>
								</div>
							</div>

							<div class="form-group m-b-0">
								<div class="form-line radio-btns">
									<input name="privatepublic" [(ngModel)]="Newgroupmodel.privatepublic" type="radio"
										id="marketer" class="with-gap radio-col-grey"
										[checked]="Newgroupmodel.privatepublic==1" value="1" />
									<label for="marketer" class="m-r-3">Marketer</label>&nbsp;
									<input name="privatepublic" [(ngModel)]="Newgroupmodel.privatepublic" type="radio"
										id="private" class="with-gap radio-col-grey"
										[checked]="Newgroupmodel.privatepublic==2" value="2" />
									<label for="private">Private</label>
									<input name="privatepublic" [(ngModel)]="Newgroupmodel.privatepublic" type="radio"
										id="public" class="with-gap radio-col-grey"
										[checked]="Newgroupmodel.privatepublic==4" value="4" />
									<label for="public">Public</label>
								</div>
							</div>

							<!-- <div class="form-group m-b-0">
							<div class="form-line radio-btns">
								<input name="showinwebsite" [(ngModel)]="Newgroupmodel.showinwebsite" type="checkbox" id="showinwebsite" class="with-gap radio-col-grey" [checked]="Newgroupmodel.showinwebsite==1"  />
								<label for="showinwebsite" class="m-r-3">Show in website</label>&nbsp;
							</div>
							 
						</div> -->

							<div class="form-group m-b-0">
								<div class="form-line ">
									<label for="groupname" class="m-r-3">Image :<span
											style="color: red;">*</span></label>&nbsp;
									<input type="file" name="adimage" (change)=fileEvent($event) required>
								</div>
							</div>

							<div class="form-group m-b-0">
								<div class="form-line radio-btns" *ngIf="userdropdownList!=0">
									<label for="groupname" class="m-r-3">Marketer Lists :</label>&nbsp;
									<ng-multiselect-dropdown [placeholder]="'Select'" [data]="userdropdownList"
										[(ngModel)]="Newgroupmodel.userselectedItems" [settings]="userdropdownSettings"
										[ngModelOptions]="{standalone: true}" #userselectedItems="ngModel">
									</ng-multiselect-dropdown>

								</div>
							</div>




						</div>

						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="button" [disabled]="!groupForm.form.valid || Newgroupmodel.groupname==''" class="btn btn-success"
								(click)="addgroup()" data-dismiss="modal">Save</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>

					</div>
				</form>
			</div>
		</div>
		<!-- new group-->

			<!-- The Modal -->
			<div class="modal" id="profilemyModal">
				<div class="modal-dialog">
					<form name="groupForm" #groupForm="ngForm">
						<div class="modal-content">
	
							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title">Profile</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
	
							<!-- Modal body -->
							<div class="modal-body">
								<div class="form-group m-b-0">
									<div class="form-line radio-btns">
										<label for="aliasname" class="m-r-3">Alias Name :<span
												style="color: red;">*</span></label>&nbsp;
										<input name="aliasname" [(ngModel)]="Newgroupmodel.aliasname" type="text"
											id="aliasname" class="form-control" required #aliasname="ngModel" />
									</div>
									
								</div>
								<div class="form-group m-b-0">
									<div class="form-line radio-btns">
										<label for="groupname" class="m-r-3">Select Websites:</label>&nbsp;
									<ng-multiselect-dropdown [placeholder]="'Select'" [data]="websitelists"
										[(ngModel)]="Newgroupmodel.profilewebsitelists" [settings]="profilewebsitedropdownSettings"
										[ngModelOptions]="{standalone: true}" #profilewebsitelists="ngModel" ></ng-multiselect-dropdown>
									</div>
								</div>
	
							</div>
	
							<!-- Modal footer -->
							<div class="modal-footer">
								<button type="button" class="btn btn-success"
									(click)="profilesave()" data-dismiss="modal">Save</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
							</div>
	
						</div>
					</form>
				</div>
			</div>
			<!-- new group-->

			<!-- The Modal -->
			<div class="modal" id="useroverviewModal">
				<div class="modal-dialog">
					<form name="groupForm" #groupForm="ngForm">
						<div class="modal-content">
	
							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title">Profile</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
	
							<!-- Modal body -->
							<div class="modal-body">
								<div class="form-group m-b-0">
									<div class="form-line radio-btns">
										<label for="aliasname" class="m-r-3">Alias Name :</label>&nbsp;{{Newgroupmodel.aliasname}}
									</div>
									
								</div>
								<div class="form-group m-b-0">
									<div class="form-line radio-btns">
										<label for="groupname" class="m-r-3">Selected Websites:</label>&nbsp;
										<table>
											
											<tr *ngFor="let data of Newgroupmodel.profilewebsitelists let i=index">
												<td>{{data.website}}</td>
											</tr>
	
										</table>
									
									</div>
								</div>
	
							</div>
	
							<!-- Modal footer -->
							<!-- <div class="modal-footer">
								<button type="button" class="btn btn-success"
									(click)="profilesave()" data-dismiss="modal">Save</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
							</div> -->
	
						</div>
					</form>
				</div>
			</div>
			<!-- user over view group-->

				<!-- The Modal -->
				<div class="modal" id="otheruseroverviewModal">
					<div class="modal-dialog">
						<form name="groupForm" #groupForm="ngForm">
							<div class="modal-content">
		
								<!-- Modal Header -->
								<div class="modal-header">
									<h4 class="modal-title">Profile</h4>
									<button type="button" class="close" data-dismiss="modal">&times;</button>
								</div>
		
								<!-- Modal body -->
								<div class="modal-body">
									<div class="form-group m-b-0">
										<div class="form-line radio-btns">
											<label for="aliasname" class="m-r-3">Alias Name :</label>&nbsp;{{Newgroupmodel.otherusername}}
										</div>
										
									</div>
									<div class="form-group m-b-0">
										<div class="form-line radio-btns">
											<label for="groupname" class="m-r-3">Selected Websites:</label>&nbsp;
											<table>
												
												<tr *ngFor="let data of Newgroupmodel.otherprofilewebsitelists let i=index">
													<td>{{data.website}}</td>
												</tr>
		
											</table>
										
										</div>
									</div>
		
								</div>
		
								<!-- Modal footer -->
								<!-- <div class="modal-footer">
									<button type="button" class="btn btn-success"
										(click)="profilesave()" data-dismiss="modal">Save</button>
									<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
								</div> -->
		
							</div>
						</form>
					</div>
				</div>
				<!-- otheruseroverviewModal-->

			

		<!-- The Modal -->
		<div class="modal" id="myModaledit">
			<div class="modal-dialog">
				<form name="groupForm" #groupForm="ngForm">
					<div class="modal-content">

						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Edit Group/Channel</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<!-- Modal body -->
						<div class="modal-body">
							<div class="form-group m-b-0">
								<div class="form-line radio-btns">
									<label for="groupname" class="m-r-3">Name :<span
											style="color: red;">*</span></label>&nbsp;
									<input name="groupname" [(ngModel)]="Newgroupmodel.groupname" type="text"
										id="groupname" class="form-control" required #groupname="ngModel" />
								</div>
							</div>
							<div class="form-group m-b-0">
								<div class="form-line radio-btns">
									<input name="channelgroup" [(ngModel)]="Newgroupmodel.channelgroup" type="radio"
										id="channele" class="with-gap radio-col-grey"
										 value="1" />
									<label for="channele" class="m-r-3">Channel</label>&nbsp;
									<input name="channelgroup" [(ngModel)]="Newgroupmodel.channelgroup" type="radio"
										id="groupe" class="with-gap radio-col-grey"
										[checked]="true" value="2" />
									<label for="groupe">Group</label>
								</div>
							</div>
							<div class="form-group m-b-0">
								<div class="form-line radio-btns">
									<input name="privatepublic" [(ngModel)]="Newgroupmodel.privatepublic" type="radio"
										id="marketer1" class="with-gap radio-col-grey"
										[checked]="Newgroupmodel.privatepublic==1" value="1" />
									<label for="marketer1" class="m-r-3">Marketer</label>&nbsp;
									<input name="privatepublic" [(ngModel)]="Newgroupmodel.privatepublic" type="radio"
										id="private1" class="with-gap radio-col-grey"
										[checked]="Newgroupmodel.privatepublic==2" value="2" />
									<label for="private1">Private</label>
									<input name="privatepublic" [(ngModel)]="Newgroupmodel.privatepublic" type="radio"
										id="public1" class="with-gap radio-col-grey"
										[checked]="Newgroupmodel.privatepublic==4" value="4" />
									<label for="public1">Public</label>
								</div>
							</div>
							<div class="form-group m-b-0">
								<div class="form-line radio-btns">
									<label>Show in Website</label>
									<input name="showinwebsite" [(ngModel)]="Newgroupmodel.showinwebsite" type="radio"
										id="channel1" class="with-gap radio-col-grey"
										[checked]="Newgroupmodel.showinwebsite==1" value="1" />
									<label for="channel1" class="m-r-3">Yes</label>&nbsp;
									<input name="showinwebsite" [(ngModel)]="Newgroupmodel.showinwebsite" type="radio"
										id="group1" class="with-gap radio-col-grey"
										[checked]="Newgroupmodel.showinwebsite==0" value="0" />
									<label for="group1">No</label>
									<!-- <input *ngIf="Newgroupmodel.showinwebsite==1" name="showinwebsite" [(ngModel)]="Newgroupmodel.showinwebsite" type="checkbox" id="showinwebsite" class="with-gap radio-col-grey" [checked]="true"  />
								<input *ngIf="Newgroupmodel.showinwebsite!=1" name="showinwebsite" [(ngModel)]="Newgroupmodel.showinwebsite" type="checkbox" id="showinwebsite" class="with-gap radio-col-grey" [checked]="false"  />
								<label for="showinwebsite" class="m-r-3">Show in website</label>&nbsp; -->
								</div>
							</div>

							<div *ngIf="Newgroupmodel.showinwebsite==1" class="form-group m-b-0">
								<div class="form-line radio-btns">
									<label for="groupname" class="m-r-3">Select Website:</label>&nbsp;
									<ng-multiselect-dropdown [placeholder]="'Select'" [data]="websitelists"
										[(ngModel)]="Newgroupmodel.websitelists1" [settings]="websitedropdownSettings"
										[ngModelOptions]="{standalone: true}" #websitelists1="ngModel" ></ng-multiselect-dropdown>
								
								</div>
							</div>

							

							<div class="form-group m-b-0">
								<div class="form-line ">
									<label for="groupname" class="m-r-3">Image :<span
											style="color: red;">*</span></label>&nbsp;
									<input type="file" name="adimage" (change)=fileEvent($event) required>
								</div>
							</div>

							<div class="form-group m-b-0">
								<div class="form-line radio-btns" *ngIf="userdropdownList!=0">
									<label for="groupname" class="m-r-3">Marketer Lists :</label>&nbsp;
									<ng-multiselect-dropdown [placeholder]="'Select'" [data]="userdropdownList"
										[(ngModel)]="Newgroupmodel.userselectedItems" [settings]="userdropdownSettings"
										[ngModelOptions]="{standalone: true}" #userselectedItems="ngModel">
									</ng-multiselect-dropdown>

								</div>
							</div>


						</div>

						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-success" data-toggle="modal"
								data-target="#makegroupadmin">Make group admin</button>
							<button type="button" [disabled]="!groupForm.form.valid" class="btn btn-success"
								(click)="updategroup()" data-dismiss="modal">Update</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>

					</div>
				</form>
			</div>
		</div>
		<!-- new group-->


		<!-- new group-->

		<!-- The Modal -->
		<div class="modal" id="makegroupadmin">
			<div class="modal-dialog">
				<form name="groupForm" #groupForm="ngForm">
					<div class="modal-content">

						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Make Group Admin</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<!-- Modal body -->
						<div class="modal-body">
							<div class="form-group m-b-0">
								<div class="form-line radio-btns">
									<table>
										<tr>
											<th>Username</th>
											<th>Action</th>
										</tr>
										<tr *ngFor="let data of Newgroupmodel.groupmemlists let i=index">
											<td>{{data.username}}</td>
											<td *ngIf="Newgroupmodel.created_by!=data.Id"><button *ngIf="data.admin_normal!=1" type="button"
													class="btn btn-success"
													(click)="admintoadd(data.Id,data.group_id)">Make group
													admin</button>
												<button *ngIf="data.admin_normal==1" type="button"
													class="btn btn-danger"
													(click)="admintoremove(data.Id,data.group_id)">Remove group admin</button></td>
										</tr>

									</table>
								</div>
							</div>
						</div>

						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>

					</div>
				</form>
			</div>
		</div>
		<!-- new group-->

		<!-- The Modal -->
		<div class="modal" id="makegroupuser">
			<div class="modal-dialog">
				<form name="groupForm" #groupForm="ngForm">
					<div class="modal-content">

						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Group Members list</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						<!-- Modal body -->
						<div class="modal-body">
							<div class="form-group m-b-0">
								<div class="form-line radio-btns">
									<table>
										<tr>
											<th>Username</th>
											<th>Action</th>
										</tr>
										<tr *ngFor="let data of Newgroupmodel.groupmemlists let i=index">
											<td>{{data.username}}</td>
											<td><button *ngIf="data.is_deleted!=1" type="button"
													class="btn btn-success"
													(click)="usertoremove(data.Id,data.group_id)">Active</button>
												<button *ngIf="data.is_deleted==1" type="button"
													class="btn btn-danger"
													(click)="usertoadd(data.Id,data.group_id)">Remove</button></td>
										</tr>

									</table>
								</div>
							</div>
						</div>

						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>

					</div>
				</form>
			</div>
		</div>
		<!-- new group-->

		<!--  msg edit popup -->
		<div class="modal" id="msgeditModal">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title"></h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">

						<div class="form-group">
							<label>Message :</label>
							<!-- <input name="msgupdate" [(ngModel)]="Newgroupmodel.msgupdate" type="text" id="msgupdate"
								class="form-control" #msgupdate="ngModel" /> -->
								<textarea name="msgupdate" [(ngModel)]="Newgroupmodel.msgupdate" type="text" id="msgupdate"
								class="form-control" #msgupdate="ngModel"></textarea>
						</div>

					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-success" (click)="msgupdatefun()"
							data-dismiss="modal">Update</button>
					</div>

				</div>
			</div>
		</div>
		<!-- msg edit popup-->

			<!--  msg add caption popup -->
			<div class="modal" id="addcaptionModal">
				<div class="modal-dialog">
					<div class="modal-content">
	
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title"></h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
	
						<!-- Modal body -->
						<div class="modal-body">
	
							<div class="form-group">
								<label>Add Caption :</label>
								<!-- <input name="msgupdate" [(ngModel)]="Newgroupmodel.msgupdate" type="text" id="msgupdate"
									class="form-control" #msgupdate="ngModel" /> -->
									<textarea name="addcaption" [(ngModel)]="Newgroupmodel.addcaption" type="text" id="addcaption"
									class="form-control" #addcaption="ngModel"></textarea>
							</div>
	
						</div>
	
						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-success" (click)="addcaptionfun()"
								data-dismiss="modal">Add</button>
						</div>
	
					</div>
				</div>
			</div>
			<!-- msg add caption popup-->

		<!-- The image Modal -->
		<div class="modal" id="imagemyModal">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title"></h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">

						<div class="form-group m-b-0">


							<div class="slideshow-container">
								<div *ngFor="let data of group_profile_log_model let i=index" id="pimage{{i}}"
									class="mySlides pimage{{i}}">
									<img src="{{group_bases}}group_images/{{data.image_name}}"
										style="width:80%; height: 400px;">

								</div>

								<a class="prev" (click)="plusSlides(-1, 1)">&#10094;</a>
								<a class="next" (click)="plusSlides(1,1)">&#10095;</a>
							</div>

							<div>
								<span *ngFor="let data of group_profile_log_model let i=index"
									(click)="currentSlide(i+1)"><img
										src="{{group_bases}}group_images/{{data.image_name}}"
										style="cursor:pointer;width:40px; height: 40px;"></span>
							</div>

						</div>

					</div>

					<!-- Modal footer -->
					<!-- <div class="modal-footer">
						<button type="button" class="btn btn-success" (click)="deletegroup()" data-dismiss="modal">Delete</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
					</div> -->

				</div>
			</div>
		</div>
		<!-- group profile img-->

		<!-- The video popup Modal -->
		<div class="modal" id="videomyModal">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title"></h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">

						<div class="form-group m-b-0">

							<video *ngIf="Newgroupmodel.video_type==1" width="320" height="240" controls>
								<source src="{{group_bases}}groupchat_images/{{Newgroupmodel.videopopupval}}"
									type="video/mp4">
								<source src="{{group_bases}}groupchat_images/{{Newgroupmodel.videopopupval}}"
									type="video/ogg">
							</video>

							<audio *ngIf="Newgroupmodel.video_type==2" controls>
								<source src="{{group_bases}}groupchat_images/{{Newgroupmodel.videopopupval}}"
									type="audio/ogg">
								<source src="{{group_bases}}groupchat_images/{{Newgroupmodel.videopopupval}}"
									type="audio/mpeg">

							</audio>

							
						</div>

					</div>

					<!-- Modal footer -->
					<!-- <div class="modal-footer">
						<button type="button" class="btn btn-success" (click)="deletegroup()" data-dismiss="modal">Delete</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
					</div> -->

				</div>
			</div>
		</div>
		<!-- video popup-->


		<!-- The delete Modal -->
		<div class="modal" id="exitmyModaledit">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Exit Group</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">

						<div class="form-group m-b-0">
							You want Exit this Group?
						</div>

					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-success" (click)="exitgroup()"
							data-dismiss="modal">Exit</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
					</div>

				</div>
			</div>
		</div>
		<!-- del group-->


		<!-- The delete Modal -->
		<div class="modal" id="deletemyModaledit">
			<div class="modal-dialog">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Delete Group</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">

						<div class="form-group m-b-0">
							You want Delete this Group?
						</div>

					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-success" (click)="deletegroup()"
							data-dismiss="modal">Delete</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
					</div>

				</div>
			</div>
		</div>
		<!-- del group-->

		<div class="row h-100">
			<div class="col-12 col-sm-5 col-md-4 d-flex flex-column mainmenu_navbar" id="chat-list-area"
				style="position:relative;">
				<!-- col-12 col-sm-5 col-md-4 flex-column d-none  used to hide -->
				<!-- col-12 col-sm-5 col-md-4 flex-column used to show -->
				<!-- Navbar -->
				<div class="row d-flex flex-row align-items-center p-2" id="navbar"
					style="background: #b84033 !important">
					<img src="{{api_bases}}images/logo.png" alt="Profile Photo"
						style="height: 35px;cursor:pointer;width: 185px;margin-left: auto;" id="display-pic"
						onclick="hideProfileSettings()">
					<div class="text-white font-weight-bold" id="username"></div>
					<div class="nav-item dropdown ml-auto">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"
							role="button" aria-haspopup="true" aria-expanded="false"><i
								class="fas fa-ellipsis-v text-white"></i></a>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="javascript:void(0);" (click)="clearoldval()" data-toggle="modal"
								data-target="#myModal">New Group</a>
							<a class="dropdown-item" href="javascript:void(0);"
								[routerLink]="['/dashboard']">Dashboard</a>
							<a class="dropdown-item" href="javascript:void(0);" [routerLink]="['/mychat']">Mychat</a>

							<a class="dropdown-item" href="javascript:void(0);" (click)=logout()>Log Out</a>
						</div>
					</div>
				</div>

				<!-- Chat List -->

				<div class="row chat-list" id="chat-list" style="overflow:auto;">

					<div class="chat-list-item d-flex flex-row w-100 p-2 border-bottom active">
						<a class="dropdown-item" href="javascript:void(0);" data-toggle="modal"
								data-target="#profilemyModal">
							<div class="w-50">
								<div class="name">Profile</div>
							</div>
						</a>
					</div>
					<div class="chat-list-item d-flex flex-row w-100 p-2 border-bottom active">
						<a class="dropdown-item" href="javascript:void(0);" (click)="clearoldval()" data-toggle="modal"
								data-target="#myModal">
							<div class="w-50">
								<div class="name">New Group</div>
							</div>
						</a>
					</div>
					<div class="chat-list-item d-flex flex-row w-100 p-2 border-bottom active">
						<a class="dropdown-item" href="javascript:void(0);"
								[routerLink]="['/dashboard']">
							<div class="w-50">
								<div class="name">Dashboard</div>
							</div>
						</a>
					</div>
					<div class="chat-list-item d-flex flex-row w-100 p-2 border-bottom active">
						<a class="dropdown-item" href="javascript:void(0);" [routerLink]="['/mychat']">
							<div class="w-50">
								<div class="name">Mychat</div>
							</div>
						</a>
					</div>
					<div class="chat-list-item d-flex flex-row w-100 p-2 border-bottom active">
						<a class="dropdown-item" href="javascript:void(0);" (click)=logout()>
							<div class="w-50">
								<div class="name">Log Out</div>
							</div>
						</a>
					
					</div>

					<input name="search_group_name" [(ngModel)]="Newgroupmodel.search_group_name" type="text"
						id="search_group_name" placeholder="Type a Marketer Group/Channel"
						class="flex-grow-1 border-0 px-3 py-2 my-3 rounded shadow-sm" (keyup.enter)="groupsearch()"
						#search_group_name="ngModel" />
					<div *ngFor="let data of group_det let i=index"
						class="chat-list-item d-flex flex-row w-100 p-2 border-bottom active"
						(click)="generateMessageArea1(data.id,data.channelgroup,data.group_code)">
						<img src="{{group_bases}}group_images/{{data.imagename}}" alt="Profile Photo"
							class="img-fluid rounded-circle mr-2" style="height: 45px;width: 50px;">
						<div class="w-50">
							<div class="name">{{data.group_name}}</div>
							<!-- <div class="small last-message">+91 98232 37261:  yeah, i'm online</div> -->
						</div>
						<!-- channelgroup -->
						<div *ngIf="data.channelgroup==1" class="flex-grow-1 text-right"><div class="small time" style="margin-right: 10px;">C</div></div>
						<div *ngIf="data.channelgroup==2" class="flex-grow-1 text-right"><div class="small time" style="margin-right: 10px;">G</div></div>
						<!-- <div class="flex-grow-1 text-right">
									<div class="small time">14/06/2019</div>
									<div class="badge badge-success badge-pill small d-none" id="unread-count">2</div>
								</div> -->
					</div>

				</div>

				<!-- Profile Settings -->
				<div class="d-flex flex-column w-100 h-100" id="profile-settings">
					<div class="row d-flex flex-row align-items-center p-2 m-0"
						style="background:#009688; min-height:65px;">
						<i class="fas fa-arrow-left p-2 mx-3 my-1 text-white"
							style="font-size: 1.5rem; cursor: pointer;"></i>
						<div class="text-white font-weight-bold">Profile</div>
					</div>
					<div class="d-flex flex-column" style="overflow:auto;">
						<img alt="Profile Photo" class="img-fluid rounded-circle my-5 justify-self-center mx-auto"
							id="profile-pic">
						<input type="file" id="profile-pic-input" class="d-none">
						<div class="bg-white px-3 py-2">
							<div class="text-muted mb-2"><label for="input-name">Your Name</label></div>
							<input type="text" name="name" id="input-name" class="w-100 border-0 py-2 profile-input">
						</div>
						<div class="text-muted p-3 small">
							This is not your username or pin. This name will be visible to your WhatsApp contacts.
						</div>
						<div class="bg-white px-3 py-2">
							<div class="text-muted mb-2"><label for="input-about">About</label></div>
							<input type="text" name="name" id="input-about" value=""
								class="w-100 border-0 py-2 profile-input">
						</div>
					</div>

				</div>
			</div>

			<!-- Message Area -->
			<div class="d-none d-sm-flex flex-column col-12 col-sm-7 col-md-8 p-0 h-100 message-area" id="message-area">
				<!-- d-sm-flex flex-column col-12 col-sm-7 col-md-8 p-0 h-100 d-none      used for disable message list-->
				<!-- d-sm-flex flex-column col-12 col-sm-7 col-md-8 p-0 h-100 d-flex      used for show message list -->

				<div class="w-100 h-100 overlay d-none"></div>
				<!-- w-100 h-100 overlay            shows blank screen  -->
				<!-- w-100 h-100 overlay d-none      used to hide the blank screen -->
				<!-- Navbar -->
				<div class="row d-flex flex-row align-items-center p-2 m-0 w-100 msg-nav-bar" *ngIf="group_name!=0" id="navbar"
					style="background: #b84033 !important">
					<div class="d-block d-sm-none">
						<i class="fas fa-arrow-left p-2 mr-2 text-white" style="font-size: 1.5rem; cursor: pointer;"
							(click)="hideshow()"></i>
					</div>
					<a href="javascript:void(0);" data-toggle="modal" data-target="#imagemyModal"><img
							src="{{group_bases}}group_images/{{group_dt_model.imagename}}" alt="Profile Photo"
							class="img-fluid rounded-circle mr-2" style="height: 45px;width: 50px;" id="pic"></a>
					<div class="d-flex flex-column">
						<div class="text-white font-weight-bold" id="name">{{group_dt_model.group_name}}</div>
						<div class="text-white small" id="details"><a href="javascript:void(0);" *ngIf="Newgroupmodel.admin_normal==1" data-toggle="modal"
							data-target="#makegroupuser">{{group_members_model.length}} members</a><a href="javascript:void(0);" *ngIf="Newgroupmodel.admin_normal!=1">{{group_members_model.length}} members</a></div>
					</div>
					<div class=" nav-item dropdown d-flex flex-row align-items-center ml-auto">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"
							role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-ellipsis-v text-white"></i></a>
						<div class="dropdown-menu dropdown-menu-right">
							<!-- Newgroupmodel.created_by==Newgroupmodel.currentUserID -->
							<a *ngIf="Newgroupmodel.admin_normal==1" class="dropdown-item" href="javascript:void(0);"
								data-toggle="modal" data-target="#myModaledit">Edit Group</a>
							<a *ngIf="Newgroupmodel.admin_normal==1 && Newgroupmodel.currentUser!=Newgroupmodel.groupname" class="dropdown-item" href="javascript:void(0);"
								data-toggle="modal" data-target="#deletemyModaledit">Delete Group</a>

							<a class="dropdown-item" *ngIf="Newgroupmodel.admin_normal==1" href="javascript:void(0);" data-toggle="modal"
								data-target="#sendrequestmodal">Send Join Request</a>
									
							<a class="dropdown-item" href="javascript:void(0);" data-toggle="modal"
								data-target="#exitmyModaledit">Exit Group</a>

							<a *ngIf="Newgroupmodel.admin_normal==1" class="dropdown-item" href="javascript:void(0);">
								<strong (click)='share()'>Share group link</strong></a>
								<a *ngIf="Newgroupmodel.admin_normal==1" class="dropdown-item" href="javascript:void(0);">
									<strong (click)="copyMessage(grouplink)">Copy group link</strong></a>


						</div>
						<!-- <a href="javascript:void(0);"><i class="fas fa-search mx-3 text-white d-none d-md-block"></i></a>
						<a href="javascript:void(0);"><i class="fas fa-paperclip mx-3 text-white d-none d-md-block"></i></a> -->
						<!-- <a href="javascript:void(0);"><i class="fas fa-ellipsis-v mr-2 mx-sm-3 text-white">
						</i></a> -->

					</div>
				</div>

				<!-- Messages -->
				<style>
					div .ml-auto,
					.mx-auto {
						margin-left: auto !important;
					}

					div .dhana {
						display: none !important;
					}

					div .mr-auto,
					.mx-auto {
						margin-right: auto !important;
						width: 90px !important;
					}

					div .pl-2,
					.px-2 {
						padding-left: .5rem !important;
					}

					div .pr-2,
					.px-2 {
						padding-right: .5rem !important;
					}

					div .flex-row {
						-ms-flex-direction: row !important;
						flex-direction: row !important;
					}

					.d-flex {
						display: -ms-flexbox !important;
						display: flex !important;
					}
				</style>
				<div class="d-flex flex-column" id="messages">
					<!-- <div class="mx-auto my-2 bg-primary text-white small py-1 px-2 rounded">
							27/03/2018
						</div>
						
						<div class="align-self-start p-1 my-1 mx-3 rounded bg-white shadow-sm message-item">
							<div class="options">
								<a href="#"><i class="fas fa-angle-down text-muted px-2"></i></a>
							</div>
							
							<div class="d-flex flex-row">
								<div class="body m-1 mr-2">have you seen infinity war?</div>
								<div class="time ml-auto small text-right flex-shrink-0 align-self-end text-muted" style="width:75px;">
									17:23
									
								</div>
							</div>
						</div>
						
						
						<div class="align-self-end self p-1 my-1 mx-3 rounded bg-white shadow-sm message-item">
							<div class="options">
								<a href="#"><i class="fas fa-angle-down text-muted px-2"></i></a>
							</div>
							
							<div class="small font-weight-bold text-primary">
								+91 91231 40293
							</div>
						
							<div class="d-flex flex-row">
								<div class="body m-1 mr-2">sxsx</div>
								<div class="time ml-auto small text-right flex-shrink-0 align-self-end text-muted" style="width:75px;">
									14:38
									<i class="far fa-check-circle"></i>
								</div>
							</div>
						</div> -->




					<div *ngFor="let datedata of date_array_model">
						<div class="mx-auto my-2 bg-primary text-white small py-1 px-2 rounded" *ngIf="group_name!=0">
							{{datedata}}
						</div>

						<!-- <div class="align-self-start p-1 my-1 mx-3 rounded bg-white shadow-sm message-item">
						<div class="options">
							<a href="#"><i class="fas fa-angle-down text-muted px-2"></i></a>
						</div>
						
						<div class="d-flex flex-row">
							<div class="body m-1 mr-2">have you seen infinity war?</div>
							<div class="time ml-auto small text-right flex-shrink-0 align-self-end text-muted" style="width:75px;">
								17:23
							</div>
						</div>
					</div> -->
						<style>
							.message-item.self {
								width: 100%;
								float: right;
								max-width: fit-content;
							}

							.message-item.align-self-start {
								float: left;
								clear: both;
							}

							.message-item.align-self-start .in-msg {
								float: right;
								width: 100%;
								max-width: 100%;
							}

							.message-item.align-self-end {
								float: right;
								clear: right;
							}

							.message-item.align-self-start .in-msg {
								float: left;
								width: 100%;
								max-width: 100%;
							}
						</style>
						
						<section *ngFor="let data of group_msg_model[datedata] let i=index" >

							<div [ngClass]="{
								'align-self-start':Newgroupmodel.currentUserID!=data.created_by,
								'align-self-end self':Newgroupmodel.currentUserID==data.created_by
							}" class="p-1 my-1 mx-3 rounded bg-white shadow-sm message-item">
									<div class="in-msg">
										<!-- toggle edit,delete dropdown code starts here-->
										<div class="options "
											*ngIf="(Newgroupmodel.currentUserID==data.created_by) && (group_name!=0)">
											<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false"><i
													class="fas fa-angle-down text-muted px-2"></i></a>
		
											<div class="dropdown-menu dropdown-menu-right">
												<a class="dropdown-item" *ngIf="data.chatimage==''" data-toggle="modal" data-target="#msgeditModal"
													(click)="msgeditfun(data.id)">Edit</a>
												<a class="dropdown-item" (click)="msgdeletefun(data.id)">Delete</a>
												<a class="dropdown-item" *ngIf="data.chatimage!='' && data.video_type==0" data-toggle="modal" data-target="#addcaptionModal" (click)="addcaption(data.id)">Add Caption</a>
		
											</div>
		
										</div>
										<!-- toggle edit,delete dropdown code ends here-->
		
										<!-- toggle edit,delete dropdown code starts here-->
										<div class="options "
											*ngIf="Newgroupmodel.currentUserID!=data.created_by && (group_name!=0)">
											<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"
												aria-haspopup="true" aria-expanded="false"><i
													class="fas fa-angle-down text-muted px-2"></i></a>
		
											<div class="dropdown-menu dropdown-menu-right">
												<!-- <a class="dropdown-item"  *ngIf="Newgroupmodel.admin_normal==1" data-toggle="modal" data-target="#msgeditModal" (click)="msgeditfun(data.id)" >Edit</a> -->
												<a class="dropdown-item" *ngIf="Newgroupmodel.admin_normal==1"
													(click)="msgdeletefun(data.id)">Delete</a>
		
											</div>
		
										</div>
										<!-- toggle edit,delete dropdown code ends here-->
		
		
										<div style="cursor: pointer;" *ngIf="Newgroupmodel.currentUserID!=data.created_by && (group_name!=0)" (click)="otheruseroverviewModal(data.created_by);" class="small font-weight-bold text-primary" data-toggle="modal" data-target="#otheruseroverviewModal">
											{{data.user_name}}
		
										</div>

										<div style="cursor: pointer;" *ngIf="(Newgroupmodel.currentUserID==data.created_by) && (group_name!=0)" class="small font-weight-bold text-primary"  data-toggle="modal" data-target="#useroverviewModal">
											{{Newgroupmodel.username}}
										</div>
		
										<div *ngIf="(Newgroupmodel.currentUserID==data.created_by) && (group_name!=0)"
											class="d-flex flex-row">
		
											<div *ngIf="data.chatimage==''" class="body m-1 mr-2"
												style="color:'#666 !important'"><p *ngIf="data.message_link==0">{{data.message}}</p><a *ngIf="data.message_link==1" target="_blank" href="{{data.message}}">{{data.message}}</a>
												<!-- <i data-toggle="modal" data-target="#msgeditModal" (click)="msgeditfun(data.id)" class="far fa fa-edit"></i> -->
											</div>
											<div *ngIf="data.chatimage!=''" class="body m-1 mr-2"
												style="color:'#666 !important'"><a target="_blank"
													href="{{group_bases}}groupchat_images/{{data.chatimage}}"><img
														*ngIf="data.video_type==0"
														src="{{group_bases}}groupchat_images/{{data.chatimage}}"
														class="img-fluid mr-2" style="height: 75px;width: 100px;"></a>

										<a href="javascript:void(0);" *ngIf="data.video_type==1" (click)="videomyModalfun(data.chatimage,data.video_type)" data-toggle="modal" data-target="#videomyModal">{{data.chatimage}}</a>
										<a href="javascript:void(0);" *ngIf="data.video_type==2" (click)="videomyModalfun(data.chatimage,data.video_type)" data-toggle="modal" data-target="#videomyModal">{{data.chatimage}}</a>
												
												
												<a *ngIf="data.video_type==3" target="_blank" href="{{group_bases}}groupchat_images/{{data.chatimage}}">{{data.chatimage}}</a>
												
											</div>
											<div class="time ml-auto small text-right flex-shrink-0 align-self-end text-muted"
												style="width:140px;">
												{{data.created_date | date:'hh:mm a'}}
												<!-- <i class="far fa-check-circle"></i> -->
											</div>
											<!-- <i  (click)="msgdeletefun(data.id)" class="far fa fa-trash"></i> -->
										</div>
		
										<div *ngIf="Newgroupmodel.currentUserID!=data.created_by && (group_name!=0)"
											class="d-flex flex-row">
		
											<div *ngIf="data.chatimage==''" class="body m-1 mr-2"
												style="color:'#666 !important'"><p *ngIf="data.message_link==0">{{data.message}}</p><a *ngIf="data.message_link==1" target="_blank" href="{{data.message}}">{{data.message}}</a></div>
											<div *ngIf="data.chatimage!=''" class="body m-1 mr-2"
												style="color:'#666 !important'">
												<a target="_blank"
													href="{{group_bases}}groupchat_images/{{data.chatimage}}"><img
														*ngIf="data.video_type==0"
														src="{{group_bases}}groupchat_images/{{data.chatimage}}"
														class="img-fluid mr-2" style="height: 75px;width: 100px;"></a>
												<!-- <video *ngIf="data.video_type==1" width="320" height="240" controls>
													<source src="{{group_bases}}groupchat_images/{{data.chatimage}}"
														type="video/mp4">
													<source src="{{group_bases}}groupchat_images/{{data.chatimage}}"
														type="video/ogg">
												</video>
												<audio *ngIf="data.video_type==2" controls>
													<source src="{{group_bases}}groupchat_images/{{data.chatimage}}"
														type="audio/ogg">
													<source src="{{group_bases}}groupchat_images/{{data.chatimage}}"
														type="audio/mpeg">
												</audio> -->
												<a href="javascript:void(0);" *ngIf="data.video_type==1" (click)="videomyModalfun(data.chatimage,data.video_type)" data-toggle="modal" data-target="#videomyModal">{{data.chatimage}}</a>
												<a href="javascript:void(0);" *ngIf="data.video_type==2" (click)="videomyModalfun(data.chatimage,data.video_type)" data-toggle="modal" data-target="#videomyModal">{{data.chatimage}}</a>
												
												<a *ngIf="data.video_type==3" target="_blank" href="{{group_bases}}groupchat_images/{{data.chatimage}}">{{data.chatimage}}</a>
												
											</div>
											<div class="time ml-auto small text-right flex-shrink-0 align-self-end text-muted"
												style="width:75px;">
												{{data.created_date | date:'hh:mm a'}}
												<!-- <i class="far fa-check-circle"></i> -->
											</div>
											<!-- <i *ngIf="Newgroupmodel.admin_normal==1" (click)="msgdeletefun(data.id)" class="far fa fa-trash"></i> -->
										</div>
									</div>
									
								</div>

								<div class="clearfix"></div>
						</section>
						
						
					</div>
					<!-- date array -->
					

				</div>

				<!-- Input -->
				<!--  private_public 1 marketer 2 private
					channelgroup  1 channel 2 group
				-->
				<div class="justify-self-end align-items-center flex-row d-flex" id="input-area" *ngIf="group_name!=0">
					<a *ngIf="group_dt_model.private_public!=1 || group_dt_model.channelgroup!=1 || Newgroupmodel.currentUserID==group_dt_model.created_by"
						href="javascript:void(0);" id="my-button" (click)="chatimageclick()"> <i
							class="fas fa-paperclip text-muted px-3" style="font-size:1.5rem;"></i></a>
					<!-- (click)="chatimage.click()"  -->

					<!-- <input contentEditable="true"
						*ngIf="group_dt_model.private_public!=1 || group_dt_model.channelgroup!=1 || Newgroupmodel.currentUserID==group_dt_model.created_by"
						name="groupmsgtxt" [(ngModel)]="Newgroupmodel.groupmsgtxt" type="text" id="groupmsgtxt"
						placeholder="Type a message" class="flex-grow-1 border-0 px-3 py-2 my-3 rounded shadow-sm"
						(keyup.enter)="sendMessage()" #groupmsgtxt="ngModel" /> -->
					<textarea contentEditable="true"
					*ngIf="group_dt_model.private_public!=1 || group_dt_model.channelgroup!=1 || Newgroupmodel.currentUserID==group_dt_model.created_by"
					name="groupmsgtxt" [(ngModel)]="Newgroupmodel.groupmsgtxt" type="text" id="groupmsgtxt"
					placeholder="Type a message" class="flex-grow-1 border-0 px-3 py-2 my-3 rounded shadow-sm"
					 #groupmsgtxt="ngModel"></textarea>
					<i *ngIf="group_dt_model.private_public!=1 || group_dt_model.channelgroup!=1 || Newgroupmodel.currentUserID==group_dt_model.created_by"
						class="fas fa-paper-plane text-muted px-3" style="cursor:pointer;" (click)="sendMessage()"></i>

					<!-- <input type="text" name="message" id="input" placeholder="Type a message" class="flex-grow-1 border-0 px-3 py-2 my-3 rounded shadow-sm"> 

					 <input type="file" id="fupload" accept="image/*" #file>
                        <button (click)="file.click()">Upload file</button>
                        <i class="fa fa-dashboard"  (click)="photoInput.click()" ></i>
                        <input id="tenantPhotoID" style="visibility: hidden" type="file" #photoInput >

					-->

					<!-- <div class="loader" style="display: none;"></div> -->
					<div class="loader" style="width: 10px;height: 10px;display: none;"></div>

					<input
						*ngIf="group_dt_model.private_public!=1 || group_dt_model.channelgroup!=1 || Newgroupmodel.currentUserID==group_dt_model.created_by"
						type="file" style="visibility: hidden;" name="chatimage" id="chatimage"
						(change)="msgfileEvent($event)" #chatimage>
					<!-- <input *ngIf="group_dt_model.private_public!=1 || group_dt_model.channelgroup!=1 || Newgroupmodel.currentUserID==group_dt_model.created_by" type="file" style="visibility: hidden;" name="chatimage" id="chatimage" (change)="msgfileEvent($event)" #chatimage > -->
				</div>


			</div>
		</div>
	</div>

	<!-- The Modal -->
		<div class="modal" id="sendrequestmodal">
			<div class="modal-dialog">
				<form name="groupForm" #groupForm="ngForm">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Send Join Request</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<!-- Modal body -->
						<div class="modal-body">							
							<div class="form-group m-b-0">
								<div class="form-line radio-btns">
									<!-- <label for="groupname" class="m-r-3">Select Marketer:</label>&nbsp;
									<ng-multiselect-dropdown [placeholder]="'Select'" [data]="marketerdropdownlist"
										[(ngModel)]="sendreqestmodel.selectedmarketeritems" [settings]="sharedropdownSettings"
										[ngModelOptions]="{standalone: true}" #userselectedItems="ngModel">
									</ng-multiselect-dropdown> --> 
									<input name="groupmsgtxt" [(ngModel)]="sendreqestmodel.marketer" type="text" id="groupmsgtxt" placeholder="Type a message"/>
									<button type="button"  class="btn btn-success" (click)="findmarketer()">Find Marketer</button>

								</div>
							</div>
						</div>
						<!-- Modal footer -->
						<div class="modal-footer">							
							<button type="button" [disabled]="!sendreqestmodel.Isloading" class="btn btn-success"
								(click)="sendrequest()" data-dismiss="modal">
								Send Request</button>
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- new group-->



	<!-- <script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {

  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script> 
 -->
	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	    crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
	    crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
		crossorigin="anonymous"></script> -->


</body>

</html>