
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Roodabatoz Chat</title>
	<link rel="stylesheet" href="http://localhost/ag7dev.git/trunk/src/assets/chat/bootstrap.min.css" >
	<link rel="stylesheet" href="http://localhost/ag7dev.git/trunk/src/assets/chat/all.css" >
	
</head>

<body>
	
	<div class="container-fluid" id="main-container">

		<!-- The Modal -->
		<div class="modal" id="myModal">
				<div class="modal-dialog">
					<div class="modal-content">
	
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Create New Group</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>				
	
					<!-- Modal body -->
					<div class="modal-body">
						<div class="form-group m-b-0">
							<div class="form-line radio-btns">
								<label for="groupname" class="m-r-3">Group Name :</label>&nbsp;
								<input name="groupname" [(ngModel)]="Newgroupmodel.groupname" type="text" id="groupname" class="form-control"  #groupname="ngModel"/>
							</div>
						</div>

						<div class="form-group m-b-0">
								<div class="form-line radio-btns" *ngIf="userdropdownList!=0">
									<label for="groupname" class="m-r-3">User Lists :</label>&nbsp;
									<ng-multiselect-dropdown [placeholder]="'Select'" [data]="userdropdownList" 
									[(ngModel)]="Newgroupmodel.userselectedItems" [settings]="userdropdownSettings" 
									[ngModelOptions]="{standalone: true}" 
									 #userselectedItems="ngModel"></ng-multiselect-dropdown>
									
								</div>
							</div>

						
						<div class="form-group m-b-0">
							<div class="form-line radio-btns">
								<input name="privatepublic" [(ngModel)]="Newgroupmodel.privatepublic" type="radio" id="private" class="with-gap radio-col-grey" [value]="1" />
								<label for="private" class="m-r-3">Private</label>&nbsp;
								<input name="privatepublic" [(ngModel)]="Newgroupmodel.privatepublic" type="radio" id="public" class="with-gap radio-col-grey" [value]="2" />
								<label for="public">Public</label>
							</div>
						</div>
	
					</div>
	
					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-success" (click)="addgroup()" data-dismiss="modal">Save</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
	
					</div>
				</div>
			</div>
			<!-- new group-->

		<div class="row h-100">
			<div class="col-12 col-sm-5 col-md-4 d-flex flex-column" id="chat-list-area" style="position:relative;">
				<!-- col-12 col-sm-5 col-md-4 flex-column d-none  used to hide -->
				<!-- col-12 col-sm-5 col-md-4 flex-column used to show -->
				<!-- Navbar -->
				<div class="row d-flex flex-row align-items-center p-2" id="navbar">
					<img src="{{api_bases}}images/logo.png" alt="Profile Photo" style="height: 35px;cursor:pointer;width: 185px;margin-left: auto;" id="display-pic"  onclick="hideProfileSettings()">
					<div class="text-white font-weight-bold" id="username"></div>
					<div class="nav-item dropdown ml-auto">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v text-white"></i></a>
						<div class="dropdown-menu dropdown-menu-right">
								<a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#myModal">New Group</a>
								<a class="dropdown-item" href="javascript:void(0);">Dashboard</a>
								
								<a class="dropdown-item" href="javascript:void(0);">Log Out</a>
						</div>
					</div>
				</div>

				<!-- Chat List -->
				<div class="row" id="chat-list" style="overflow:auto;">
						<div *ngFor="let data of group_det let i=index" class="chat-list-item d-flex flex-row w-100 p-2 border-bottom active" (click)="generateMessageArea(data.id)">
								<img src="{{api_bases}}images/0923102932_aPRkoW.jpg" alt="Profile Photo" class="img-fluid rounded-circle mr-2" style="height:50px;">
								<div class="w-50">
									<div class="name">{{data.group_name}}</div>
									<!-- <div class="small last-message">+91 98232 37261:  yeah, i'm online</div> -->
								</div>
								<div class="flex-grow-1 text-right">
									<div class="small time">28/03/2018</div>
									<div class="badge badge-success badge-pill small d-none" id="unread-count">2</div>
								</div>
							</div>
				
				</div>

				<!-- Profile Settings -->
				<div class="d-flex flex-column w-100 h-100" id="profile-settings">
					<div class="row d-flex flex-row align-items-center p-2 m-0" style="background:#009688; min-height:65px;">
						<i class="fas fa-arrow-left p-2 mx-3 my-1 text-white" style="font-size: 1.5rem; cursor: pointer;"></i>
						<div class="text-white font-weight-bold">Profile</div>
					</div>
					<div class="d-flex flex-column" style="overflow:auto;">
						<img alt="Profile Photo" class="img-fluid rounded-circle my-5 justify-self-center mx-auto" id="profile-pic">
						<input type="file" id="profile-pic-input" class="d-none">
						<div class="bg-white px-3 py-2">
							<div class="text-muted mb-2"><label for="input-name">Your Name</label></div>
							<input type="text" name="name" id="input-name" class="w-100 border-0 py-2 profile-input">
						</div>
						<div class="text-muted p-3 small">
							This is not your username or pin. This name will be visible to your WhatsApp contacts.
						</div>
						<div class="bg-white px-3 py-2">
							<div class="text-muted mb-2"><label for="input-about">About</label></div>
							<input type="text" name="name" id="input-about" value="" class="w-100 border-0 py-2 profile-input">
						</div>
					</div>
					
				</div>
			</div>

			<!-- Message Area -->
			<div class="d-none d-sm-flex flex-column col-12 col-sm-7 col-md-8 p-0 h-100 message-area"  id="message-area">
			<!-- d-sm-flex flex-column col-12 col-sm-7 col-md-8 p-0 h-100 d-none      used for disable message list-->
			<!-- d-sm-flex flex-column col-12 col-sm-7 col-md-8 p-0 h-100 d-flex      used for show message list -->
			
				<div class="w-100 h-100 overlay d-none"></div>
				<!-- w-100 h-100 overlay            shows blank screen  -->
				<!-- w-100 h-100 overlay d-none      used to hide the blank screen -->
				<!-- Navbar -->
				<div class="row d-flex flex-row align-items-center p-2 m-0 w-100" *ngIf="group_name!=0" id="navbar">
					<div class="d-block d-sm-none">
						<i class="fas fa-arrow-left p-2 mr-2 text-white" style="font-size: 1.5rem; cursor: pointer;" ></i>
					</div>
					<a href="javascript:void(0);"><img src="{{api_bases}}images/Ass09123asdj9dk0qw.jpg" alt="Profile Photo" class="img-fluid rounded-circle mr-2" style="height:50px;" id="pic"></a>
					<div class="d-flex flex-column">
						<div class="text-white font-weight-bold" id="name">{{group_dt_model.group_name}}</div>
						<div class="text-white small" id="details">{{group_members_model.length}} members</div>
					</div>
					<div class="d-flex flex-row align-items-center ml-auto">
						<a href="javascript:void(0);"><i class="fas fa-search mx-3 text-white d-none d-md-block"></i></a>
						<a href="javascript:void(0);"><i class="fas fa-paperclip mx-3 text-white d-none d-md-block"></i></a>
						<a href="javascript:void(0);"><i class="fas fa-ellipsis-v mr-2 mx-sm-3 text-white"></i></a>
					</div>
				</div>
				
				
				

				<!-- Messages -->
				<div class="d-flex flex-column" id="messages">
					<div class="mx-auto my-2 bg-primary text-white small py-1 px-2 rounded" *ngIf="group_name!=0">
						27/03/2018
					</div>
					
					<!-- <div class="align-self-start p-1 my-1 mx-3 rounded bg-white shadow-sm message-item">
						<div class="options">
							<a href="#"><i class="fas fa-angle-down text-muted px-2"></i></a>
						</div>
						
						<div class="d-flex flex-row">
							<div class="body m-1 mr-2">have you seen infinity war?</div>
							<div class="time ml-auto small text-right flex-shrink-0 align-self-end text-muted" style="width:75px;">
								17:23
								
							</div>
						</div>
					</div> -->
					
					
					<div   *ngFor="let data of group_msg_model let i=index" [ngClass]="{
						'align-self-start':Newgroupmodel.currentUserID!=data.created_by,
						'align-self-end self':Newgroupmodel.currentUserID==data.created_by
					}" class="p-1 my-1 mx-3 rounded bg-white shadow-sm message-item" >
						<div class="options">
							<a href="javascript:void(0);"><i class="fas fa-angle-down text-muted px-2"></i></a>
						</div>
						
						<div class="small font-weight-bold text-primary">
							{{data.user_name}}
						</div>
					
						<div *ngIf="Newgroupmodel.currentUserID==data.created_by" class="d-flex flex-row">
							
							<div class="body m-1 mr-2">{{data.message}}</div>
							<div class="time ml-auto small text-right flex-shrink-0 align-self-end text-muted" style="width:75px;">
								{{data.created_date | date}}
								<i class="far fa-check-circle"></i>
							</div>
						</div>

						<div *ngIf="Newgroupmodel.currentUserID!=data.created_by" class="d-flex flex-row">
							
								<div class="body m-1 mr-2">{{data.message}}</div>
								<div class="time ml-auto small text-right flex-shrink-0 align-self-end text-muted" style="width:75px;">
									{{data.created_date | date}}
									<i class="far fa-check-circle"></i>
								</div>
							</div>
					</div>
					
				</div>

				<!-- Input -->
				<div class="justify-self-end align-items-center flex-row d-flex" id="input-area" *ngIf="group_name!=0">
					<a href="javascript:void(0);"><i class="fas fa-paperclip text-muted px-3" style="font-size:1.5rem;"></i></a>
					<i class="fas fa-paper-plane text-muted px-3" style="cursor:pointer;" (click)="sendMessage()"></i>	<input name="groupmsgtxt" [(ngModel)]="Newgroupmodel.groupmsgtxt" type="text" id="groupmsgtxt" placeholder="Type a message" class="flex-grow-1 border-0 px-3 py-2 my-3 rounded shadow-sm"  #groupmsgtxt="ngModel"/>
					<!-- <input type="text" name="message" id="input" placeholder="Type a message" class="flex-grow-1 border-0 px-3 py-2 my-3 rounded shadow-sm"> -->
					
				</div>
			</div>
		</div>
	</div>

	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	    crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
	    crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
		crossorigin="anonymous"></script> -->
	
	
</body>

</html>