<div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">Admin<b>BSB</b></a>
            <small>Admin BootStrap Based - Material Design</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_in" >
                    <div class="msg">Sign in to start your session</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            
                            <input type="text" id="username" [(ngModel)]="model.user_name" #username="ngModel" 
                            name="user_name" class="form-control" placeholder="Username" required autofocus />
                            <div *ngIf="username.errors && (username.dirty || username.touched)">
                                <span [hidden]="!username.errors.required" style="color:white;">
                                  *Username is required
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" id="password" [(ngModel)]="model.user_password" 
                            #password="ngModel" name="user_password"  class="form-control" placeholder="Password" required />
                            <div *ngIf="password.errors && (password.dirty || password.touched)">
                                <span [hidden]="!password.errors.required" style="color:white;">
                                  *Password is required
                                </span>
                            </div>
                              
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 p-t-5">
                            <input type="checkbox" name="rememberme" id="rememberme" class="filled-in chk-col-pink">
                            <label for="rememberme">Remember Me</label>
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-block bg-pink waves-effect" (keyup.enter)="enterlogin()" 
                            (click)="checklogin()" type="submit">SIGN IN</button>
                        </div>
                    </div>
                    <div class="row m-t-15 m-b--20">
                        <div class="col-xs-6">
                            <a href="sign-up.html">Register Now!</a>
                        </div>
                        <div class="col-xs-6 align-right">
                            <a href="forgot-password.html">Forgot Password?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>