<div class="login-box">
    <div class="logo">
        <a [routerLink]="['/']">
            <img src="assets/images/logo.png" style="width: 200px;"/>
        </a><br/>
        <small>{{'welcome text'|translate}}</small>
    </div>
    <div class="card">
        <div class="body">
            <form id="sign_in">
                <div class="msg">{{'website-login'|translate}}</div>
                <div class="input-group">
                    <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                    <div class="form-line">

                        <input type="text" id="username" [(ngModel)]="model.user_name" #username="ngModel" name="user_name" class="form-control" placeholder="{{'Website' | translate}} {{'Lock' | translate}}" required autofocus />
                        <div *ngIf="username.errors && (username.dirty || username.touched)">
                            <span [hidden]="!username.errors.required" style="color:white;">
                                  *Username is required
                                </span>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                    <div class="form-line">
                        <input type="password" id="password" [(ngModel)]="model.user_password" #password="ngModel" name="user_password" class="form-control" placeholder="{{'Password' | translate}}" required />
                        <div *ngIf="password.errors && (password.dirty || password.touched)">
                            <span [hidden]="!password.errors.required" style="color:white;">
                                  *Password is required
                                </span>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 p-t-5">
                        <input type="checkbox" name="rememberme" [(ngModel)]="model.rememberme" #rememberme="ngModel" id="rememberme" class="filled-in chk-col-pink">
                        <label for="rememberme">Remember Me</label>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-block bg-pink waves-effect" (keyup.enter)="enterlogin()" (click)="checklogin()" type="submit">{{'Sign In'|translate}}</button>
                    </div>
                </div>
                <div class="row m-t-15 m-b--20">
                    <div class="col-xs-6">
                        <a [routerLink]="['/signup']">{{'Create Website' | translate}}</a>
                    </div>
                    <!-- <div class="col-xs-6 align-right">
                        <a [routerLink]="['/forgotpassword']">Forgot Password?</a>
                    </div> -->
                </div>
                <!-- language code-->
                <!-- <div class="row">  
                    <div class="col-xs-6" style="text-align: right;">Change Language:</div>
                    <div class="col-xs-6">
                        <div id="google_translate_element" class="form-group"></div>
                    </div>
        
                    <script type="text/javascript">
                        function googleTranslateElementInit() {
                        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                            
                        }
                        
                    </script>
                    <style>
                        .goog-logo-link{
                        display:none;
                        }
                        .skiptranslate{color:white !important;}
                        .goog-te-combo{ 
                            color: #666 !important;
                            display: block !important;
                            width: 100% !important;
                            height: 34px !important;
                            padding: 6px 12px !important;
                            font-size: 14px !important;
                            line-height: 1.42857143 !important;
                            background-color: #fff !important;
                            background-image: none !important;
                            border: 1px solid #ccc !important;
                            border-radius: 4px !important;
                            }
                        .goog-te-banner-frame{visibility:hidden !important;}
                        
                        .goog-tooltip skiptranslate {visibility: hidden !important}
                    </style>
                </div> -->
                <!-- language code ends here-->
            </form>
        </div>
    </div>
</div>