<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2 class="font-bold">
                            Edit Category
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header">
                                        
                                    </div>
                                    <div class="body">
                                        <form class="" #addcategory="ngForm">
                                        <div class="row clearfix">
                                            <div class="col-md-6">
                                                <p><b>Select Website</b></p>
                                                <div class="form-group">
                                                   <div class="form-line">
                                                        <select class="form-control show-tick" [(ngModel)]="model.url" #url="ngModel" name="url" required>
                                                            <option [ngValue]="select">select website</option>    
                                                            <option *ngFor="let model of websitelist" value="{{model.website}}">{{model.website}}</option>
                                                        </select>
                                                        <span [hidden]="url.valid || url.pristine" class="text-danger">website is required</span>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <b>Category Name</b>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" placeholder="Enter Category" [(ngModel)]="model.category_name" name="category_name" #category_name="ngModel" required>
                                                    </div>
                                                      <span [hidden]="category_name.valid || category_name.pristine" class="text-danger">Category Name is required</span>
                                                </div>
                                            </div>
                                        </div>       
                                        <button type="submit" [disabled]="!addcategory.form.valid" class="btn btn-primary m-t-15 waves-effect" (click)="updatecategorylist()">Update Catgeory</button>&nbsp;
                                        &nbsp;&nbsp;&nbsp;<button type="button" (click)="back()" class="btn btn-primary m-t-15 waves-effect">Cancel</button>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>