<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu> 

<section class="content">
        <div class="container-fluid">           
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                      <div class="header">
                          <h2>
                              Category List
                              <button type="button" (click)="navigateAddcategory()" class="btn btn-success waves-effect pull-right">Add Category</button>                 
                          </h2>
                      </div>
                      <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>CATEGORY NAME</th>
                                      <th>CREATED DATE</th>
                                      <th>CREATED BY</th>
                                      <th>Actions</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <th scope="row">1</th>
                                      <td>CATEGORY 1</td>
                                      <td>14/02/19</td>
                                      <td>admin</td>
                                      <td>
                                        <a href="#"><i class="material-icons">edit</i></a>
                                        <a href="#"><i class="material-icons">delete</i></a>
                                    </td>
                                  </tr>
                                  <tr>
                                      <th scope="row">2</th>
                                      <td>CATEGORY 2</td>
                                      <td>14/02/19</td>
                                      <td>admin</td>
                                      <td>
                                        <a href="#"><i class="material-icons">edit</i></a>
                                        <a href="#"><i class="material-icons">delete</i></a>
                                    </td>
                                  </tr>                                  
                                  <tr>
                                      <th scope="row">3</th>
                                      <td>CATEGORY 3</td>
                                      <td>15/02/19</td>
                                      <td>admin</td>
                                      <td>
                                        <a href="#"><i class="material-icons">edit</i></a>
                                        <a href="#"><i class="material-icons">delete</i></a>
                                    </td>
                                  </tr>
                              </tbody>
                          </table>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
</section>
<!-- #END# Striped Rows -->