<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu> 

<section class="content">
        <div class="container-fluid">           
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                      <div class="header">
                          <h2>
                              Manage Section                                              
                              <button type="button" (click)="managereorder()" class="btn btn-success waves-effect pull-right">Reorder</button>&nbsp;&nbsp;&nbsp;                 
                               <button type="button" (click)="navigateAddsection()" class="btn btn-success waves-effect pull-right">Add Section</button>
                          </h2>
                      </div>
                      <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover dataTable adsinfo_table" id="dataTable">
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>Section</th>
                                      <th>Website</th>
                                      <th>Actions</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let data of sectionList let idx=index">
                                      <th scope="row">{{idx+1}}</th>
                                      <td>{{data.section}}</td>
                                      <td>{{data.website}}</td> 
                                      <td>
                                        <a href="javascript:void(0);" (click)="editsection(data.id)"><i class="material-icons">edit</i></a>
                                        <a href="javascript:void(0);" (click)="deletesection(data.id)"><i class="material-icons">delete</i></a>
                                        <a href="javascript:void(0);" (click)="showorhide(data.id)"><i class="material-icons">show/hide</i></a>
                                    </td>
                                  </tr>
                                 
                              </tbody>
                          </table>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
</section>
<!-- #END# Striped Rows -->