<style>
.custom-switches {
  .switch {
    background: #fb6542;
    small {
      background: #375e97;
    }
    &.checked {
      background: #3f681c;
    }
  }
}
body .ui-inputswitch.ui-inputswitch-checked:not(.ui-state-disabled):hover .ui-inputswitch-slider{
    background-color: #3f681c !important;
}
</style>
<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu> 

<section class="content">
        <div class="container-fluid">           
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                      <div class="header">
                          <h2>
                              {{'Manage' | translate}} {{'Section' | translate}}
                          </h2><br/>
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="button" (click)="managereorder()" class="btn btn-success waves-effect pull-right" style="margin-left: 10px;">{{'Reorder' | translate}}</button>
                             <button type="button" (click)="navigateAddsection()" class="btn btn-success waves-effect pull-right">{{'Add' | translate}}{{'Section' | translate}}</button>

                            </div>
                      </div>
                      <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover dataTable section_table" id="section_table">
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>{{'Section' | translate}}</th>
                                      <th>{{'Life' | translate}}</th>
                                      <th>{{'Show' | translate}} {{'Section' | translate}}</th>
                                      <th>{{'Show' | translate}} {{'Menu' | translate}}</th>
                                      <th>{{'actions' | translate}}</th>
                                      
                                  </tr>
                              </thead>
                              <tbody>
                                 <div class="preloader pl-size-xs" style="display:none;">
                                      <div class="spinner-layer pl-red-grey">
                                          <div class="circle-clipper left">
                                              <div class="circle"></div>
                                          </div>
                                          <div class="circle-clipper right">
                                              <div class="circle"></div>
                                          </div>
                                      </div>
                                  </div> 
                                  <tr *ngFor="let data of sectionList let idx=index">
                                      <th scope="row">{{idx+1}}</th>
                                      <td>{{data.section}}</td>
                                      <td>{{data.website}}</td> 
                                      <td>
                                        <p-inputSwitch styleClass="ui-inputswitch-checked" class="ui-button-danger color" (onChange)="updatesectionData($event,data.id)" [(ngModel)]="buttonlist[idx].IsEnable" ></p-inputSwitch>
                                      </td>
                                      <td>
                                        <p-inputSwitch styleClass="ui-inputswitch-checked" class="ui-button-danger color" (onChange)="updateMenusectionData($event,data.id)" [(ngModel)]="menulist[idx].IsEnable" ></p-inputSwitch>
                                      </td>
                                      <td>
                                        <a href="javascript:void(0);" (click)="editsection(data.id)"><i class="material-icons">edit</i></a>
                                        <a href="javascript:void(0);" (click)="deletesection(data.id)"><i class="material-icons">delete</i></a>
                                     
                                        <!-- <p-inputSwitch styleClass="ui-inputswitch-checked" *ngIf="data.Issection_show==0" (onChange)="updatesectionData($event,data.id)" [(ngModel)]="data.IsEnable" ></p-inputSwitch> -->
                                        <!-- <ui-switch *ngIf="data.Issection_show==1" size="small" (change)="updatesectionData($event,data.id)" [checked]="false" checkedLabel="show"></ui-switch>
                                        <ui-switch *ngIf="data.Issection_show==0" size="small" (change)="updatesectionData($event,data.id)" checked uncheckedLabel="hide"></ui-switch> -->
                                       <!--  <a href="javascript:void(0);" (click)="showorhide(data.id)"><i class="material-icons">show/hide</i></a> -->
                                    </td>
                                  </tr>
                                 
                              </tbody>
                          </table>
                          </div>
                      </div>
                  </div>
              </div>          
            </div>
          </div>
</section>
<!-- #END# Striped Rows -->