<div class="login-box">
    <div class="logo">
        <a [routerLink]="['/']">
            <!-- <img src="assets/images/logo.png" style="width: 200px;"/> -->
        </a><br/>
        <small>Welcome to Roodabtoz</small>
    </div>
    <div class="card">
        <div class="body">
            <form id="sign_in">
                <div class="msg">Forgot Password</div>
                <div class="input-group">
                    <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                     <div class="form-group">
                        <div class="form-line"> 
                            <input type="text" class="form-control" [(ngModel)]="model.email" #email="ngModel" name="email" placeholder="Enter Email" required>
                        </div>
                        <div *ngIf="email.errors && (email.dirty || email.touched)" class="">
                        	<span [hidden]="email.valid || email.pristine" class="text-danger">Email is required</span>
                    	</div>
                    </div>
                </div>               
               	<div class="input-group">                  
                     <div class="form-group">
                        <div class="form-line">
                            <button type="submit" class="btn btn-danger" (click)="forgotpassword()">SUBMIT</button>
                        </div>
                    </div>
                </div> 
                <div class="row m-t-15 m-b--20">
                    <div class="col-xs-6">
                        <a [routerLink]="['/signup']">Create Website!</a>
                    </div>                  
                </div>
            </form>
        </div>
    </div>
</div>