 <div class="modal" id="searchModal">
    <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-header">
              <h4 class="modal-title" id="mtitle2"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">             
	            <div class="form-group m-b-0">
	                <div class="slideshow-container"> 
	                  <h4>Find website</h4>
	                  <input type="text" name="searchText" placeholder="search website" id="searchText">
	                  <input type="hidden" name="websiteurl" id="weburl" value="<?php echo $this->config->item('website_path');?>">
	                </div>
	            </div>
            </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="searchDetail()" id="searcButton">Search</button>                
            </div>
		</div>
	</div>
</div>

<script>
  function searchDetail()
  {
      var val = $('#searchText').val();
      var webPath = $('#weburl').val();
      
         $.ajax({
                type:'POST',
                url:'<?php echo base_url("index.php/website/findwebsite"); ?>',
                data:{'value':val},
                dataType:"JSON",                
                success:function(data){                 
                    if(data.exist==1)
                    {
                    	window.open(webPath+val);
                    	$("#searchModal").modal('toggle');
                    }else{
                    	alert("Entered website has not found");
                    	$("#searchModal").modal('toggle');
                    }
                }
            });
  }
</script>

<script>
  function flvwebsite(websitename,datatype)
  {
     
      var website = websitename;
      
         $.ajax({
                type:'POST',
                url:'<?php echo base_url("index.php/website/addwebsitefollow"); ?>',
                data:{'websitename':website,'datastype':datatype},
                dataType:"JSON",                
                success:function(data){                 
                    if(data.totalfollow)
                    {
                    	document.getElementById("totalfollow").innerHTML = data.totalfollow;
                    }
                }
            });
  }
</script>



<!--language code starts here-->
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript">
  function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
      
  }
  
</script>
<style>
  .goog-logo-link{
  display:none;
  }
  .skiptranslate{color:white !important;}
  .goog-te-combo{ 
      color: #666 !important;
      display: block !important;
      width: 100% !important;
      height: 34px !important;
      padding: 6px 12px !important;
      font-size: 14px !important;
      line-height: 1.42857143 !important;
      background-color: #fff !important;
      background-image: none !important;
      border: 1px solid #ccc !important;
      border-radius: 4px !important;
      }
  .goog-te-banner-frame{visibility:hidden !important;}
  
  .goog-tooltip skiptranslate {visibility: hidden !important}
</style>


<style>
  #floatingRectangle {
      z-index: 9999;
      width: 165px;
      height: 28px;
      position: fixed;
      /* left: 0; */
      right: 60px;
      bottom: 0px;
      cursor: pointer;
      /* top: 0; */
      background-color: #f82249;
      color: white;
      padding: 3px;

  }
</style>

<!-- Modal -->
<div id="myModalchangelanguage" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
     
      <div class="modal-body">
         <!-- language code-->
      <div class="row" style="margin-top: 19px;">  
              <div class="col-xs-6" style="text-align: right;margin-top: 13px;">Change Language:</div>
              <div class="col-xs-6">
                  <div id="google_translate_element" class="form-group"></div>
              </div>
  
          <script type="text/javascript">
              function googleTranslateElementInit() {
              new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                  
              }
          </script>
          <style>
              .goog-logo-link{
              display:none;
              }
              .skiptranslate{color:white !important;}
              .goog-te-combo{ 
                  color: #666 !important;
                  display: block !important;
                  
                  height: 34px !important;
                  padding: 6px 12px !important;
                  font-size: 14px !important;
                  line-height: 1.42857143 !important;
                  background-color: #fff !important;
                  background-image: none !important;
                  border: 1px solid #ccc !important;
                  border-radius: 4px !important;
                  }
              .goog-te-banner-frame{visibility:hidden !important;}
              
              .goog-tooltip skiptranslate {visibility: hidden !important}

              .goog-tooltip {
                  display: none !important;
              }
              .goog-tooltip:hover {
                  display: none !important;
              }
              .goog-text-highlight {
                  background-color: transparent !important;
                  border: none !important; 
                  box-shadow: none !important;
              }
              .goog-te-balloon-frame { display: none; }

          </style>
          </div>
          <!-- language code ends here-->
		  
      </div>
      
    </div>

  </div>
</div>


<div id="floatingRectangle" data-toggle="modal" data-target="#myModalchangelanguage">
  Change Language
</div>
