<!-- Page Loader -->
<!-- <div class="page-loader-wrapper">
            <div class="loader">
                <div class="preloader">
                    <div class="spinner-layer pl-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <p>Please wait...</p>
            </div>
        </div>   -->
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->

<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- <a class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a> -->
            <a class="bars"></a>
            <!-- <a class="navbar-brand" href="index.html">ADMINBSB - MATERIAL DESIGN</a> -->
            <a class="navbar-brand" [routerLink]="['/dashboard']">
                <img src="assets/images/logo2.png" style="width: 200px;height: 35px;margin-left: 24px;"/>
            </a>

        </div>
        <div>
            <!-- <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
                <option *ngFor="let language of translate.getLangs()" [value]="language"
                  [selected]="language === translate.currentLang">
                  {{ language }}
                </option>
              </select> -->
        </div>

    </div>
</nav>



<!-- #Top Bar -->