<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu>

<section class="content">
    <div class="container-fluid">
        <!-- <div class="block-header">
                <h2>Manage Users
                    <small>Table</small>
                </h2>
            </div> -->

        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2 class="font-bold">
                            Manage User
                            <button type="button" (click)="navigateAdduser()" class="btn btn-success waves-effect pull-right">Add User</button>
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>User Name</th>
                                        <th>Sponsor</th>
                                        <th>Earnings</th>
                                        <th>Country</th>
                                        <th>Reg Date</th>
                                        <th>Status</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let item of userlist let idx=index">
                                        <td>{{idx+1}}</td>
                                        <td>{{item.fname}}</td>
                                        <td>{{item.username}}</td>
                                        <td>{{item.referedby}}</td>
                                        <td>{{item.tamount}}</td>
                                        <td>{{item.country}}</td>
                                        <td>{{item.doj}}</td>
                                        <td *ngIf="item.status==0"><span class="label bg-green">Active</span></td>
                                        <td *ngIf="item.status==1"><span class="label bg-red">In active</span></td>
                                        <td>
                                            <a href="javascript:void(0);" (click)="edituser(item.id)"><i class="material-icons">edit</i></a>
                                            <a href="javascript:void(0);" (click)="deleteuser(item.id)"><i class="material-icons">delete</i></a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>