<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu>

<section class="content">
    <div class="container-fluid">
        <!-- <div class="block-header">
                <h2>Manage Users
                    <small>Table</small>
                </h2>
            </div> -->

        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Manage User

                            <button type="button" (click)="navigateAdduser()" class="btn btn-success waves-effect pull-right">Add User</button>
                        </h2>


                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>User Name</th>
                                        <th>Sponsor</th>
                                        <th>Earnings</th>
                                        <th>Tot Marketer</th>
                                        <th>Country</th>
                                        <th>Reg Date</th>
                                        <th>Status</th>
                                        <th>Package Taken</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>sridhar</td>
                                        <td>skillers</td>
                                        <td>omid</td>
                                        <td>15</td>
                                        <td>10</td>
                                        <td>India</td>
                                        <td>2019/02/13</td>
                                        <td>Active</td>
                                        <td>2</td>
                                        <td>
                                            <a href="#"><i class="material-icons">edit</i></a>
                                            <a href="#"><i class="material-icons">delete</i></a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>2</td>
                                        <td>mani</td>
                                        <td>skillersmani</td>
                                        <td>sridhar</td>
                                        <td>3</td>
                                        <td>2</td>
                                        <td>India</td>
                                        <td>2019/02/14</td>
                                        <td>Active</td>
                                        <td>1</td>
                                        <td>
                                            <a href="#"><i class="material-icons">edit</i></a>
                                            <a href="#"><i class="material-icons">delete</i></a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>3</td>
                                        <td>gaythri</td>
                                        <td>skillersgs</td>
                                        <td>sridhar</td>
                                        <td>10</td>
                                        <td>2</td>
                                        <td>India</td>
                                        <td>2019/02/14</td>
                                        <td>Active</td>
                                        <td>1</td>
                                        <td>
                                            <a href="#"><i class="material-icons">edit</i></a>
                                            <a href="#"><i class="material-icons">delete</i></a>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>