<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu> 

<section class="content">
        <div class="container-fluid">
            <div class="block-header"></div>
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                      <div class="header">
                          <h2 class="font-bold">
                              Service Lists
                              <button type="button" (click)="navigateAddservice()" class="btn btn-success waves-effect pull-right">Add Service</button>                  
                          </h2>
                          
                      </div>
                      <div class="body">
                          <div class="table-responsive">
                              <table class="table table-bordered table-striped table-hover">
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>WEBSITE</th>
                                      <th>TITLE</th>
                                      <th>Created Date</th>
                                      <th>ACTION</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let data of service_det let idx=index">
                                      <th scope="row">{{idx+1}}</th>
                                      <td>{{data.website}}</td>
                                      <td>{{data.title}}</td>
                                      <td>{{data.created_date}}</td>
                                      <td>                                         
                                        <a href="javascript:void(0);" (click)="deleteservice(data.id)"><i class="material-icons">delete</i></a>
                                        <a href="javascript:void(0);" (click)="editservice(data.id)"><i class="material-icons">edit</i></a>
                                    </td>                                      
                                  </tr>
                              </tbody>
                          </table>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
</section>
<!-- #END# Striped Rows -->