 <div class="signup-box">
        <div class="logo">
            <a href="javascript:void(0);">Create Website<b></b></a>
            <small>fill the information to continue</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_up" #signup="ngForm">
                    <!-- <div class="msg">Signup as a new marketer</div> -->
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">view_comfys</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" autocomplete="off" [(ngModel)]="model.website" #website="ngModel" name="website" placeholder="Enter Website Name" (blur)="checkwebsite()" required autofocus>
                        </div>
                        <span [hidden]="website.valid || website.pristine" class="text-danger">website is required</span>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">assignment_ind</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" [(ngModel)]="model.fname" #fname="ngModel" name="fname" placeholder="Enter Full Name" required autofocus>
                        </div>
                        <span [hidden]="fname.valid || fname.pristine" class="text-danger">Name is required</span>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" autocomplete="off" [(ngModel)]="model.username" #username="ngModel" name="username" placeholder="Enter User Name" (blur)="checkUserexist($event)" required autofocus>
                        </div>
                        <span [hidden]="username.valid || username.pristine" class="text-danger">Username is required</span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                           <i class="material-icons">account_circle</i>
                        </span>
                        <div class="form-line">
                       <input name="group5" type="radio" id="radio_30" value="male" class="with-gap radio-col-red" checked="" [(ngModel)]="model.gender">
                       <label for="radio_30">Male</label>

                        <input name="group5" type="radio" id="radio_31" value="female" class="with-gap radio-col-red" [(ngModel)]="model.gender">
                       <label for="radio_31">Female</label>
                        </div>
                       
                    </div>
                      
                    
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" autocomplete="off" class="form-control" [(ngModel)]="model.password" #password="ngModel" name="password" minlength="6" (blur)="passwordMatch()" placeholder="Password" required>
                        </div>
                        <div *ngIf="password.errors && (password.dirty || password.touched)" class="">
                            <span *ngIf="password.errors.required" class="text-danger">Password is required</span>
                            <span [hidden]="!password.errors.minlength" class="text-danger"> *Password should consist minimum six characters. </span>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" [(ngModel)]="model.confirmp" #confirmp="ngModel" name="confirmp" minlength="6" placeholder="Confirm Password" (blur)="passwordMatch()" required>
                        </div>
                        <div *ngIf="confirmp.errors && (confirmp.dirty || confirmp.touched)" class="">
                            <span *ngIf="confirmp.errors.required" class="text-danger">Confirm Password is required</span>
                            <span [hidden]="!confirmp.errors.minlength" class="text-danger"> *Confirm Password should consist minimum six characters. </span>
                        </div>
                        <div *ngIf="model.passwordmatch">
                            <span class="text-danger"> *Passwors and confirm password is not match. </span>
                        </div>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">view_comfys</i>
                        </span>
                        <div class="form-line">
                            <select class="form-control show-tick" [(ngModel)]="model.pcktaken" #pcktaken="ngModel" name="pcktaken" required>
                                <option [ngValue]="select">select package</option>    
                                <option *ngFor="let model of packagelist" value="{{model.id}}">{{model.package_name}}</option>
                            </select>
                        </div>
                        <span [hidden]="pcktaken.valid || pcktaken.pristine" class="text-danger">Package  is required</span>
                    </div>

                    <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">group</i>
                            </span>
                            <div class="form-line">
                                <input type="text" class="form-control" name="referedby" [(ngModel)]="model.referedby" #referedby="ngModel" placeholder="Enter Creator/Website Name" required autofocus>
                            </div>
                        </div>
                    

                    

                    <button class="btn btn-block btn-lg bg-pink waves-effect" [disabled]="!signup.form.valid || model.passwordmatch" type="submit" (click)="adduser()">Create website</button>

                    <div class="m-t-25 m-b--5 align-center">
                        <a [routerLink]="['/login']" >I already have a website</a>
                    </div>

                </form>
            </div>
            <!-- language code-->
            <div class="row">  
                    <div class="col-xs-6" style="text-align: right;">Change Language:</div>
                    <div class="col-xs-6">
                        <div id="google_translate_element" class="form-group"></div>
                    </div>
        
                    <script type="text/javascript">
                        function googleTranslateElementInit() {
                        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                            
                        }
                        
                    </script>
                    <style>
                        .goog-logo-link{
                        display:none;
                        }
                        .skiptranslate{color:white !important;}
                        .goog-te-combo{ 
                            color: #666 !important;
                            display: block !important;
                            width: 100% !important;
                            height: 34px !important;
                            padding: 6px 12px !important;
                            font-size: 14px !important;
                            line-height: 1.42857143 !important;
                            background-color: #fff !important;
                            background-image: none !important;
                            border: 1px solid #ccc !important;
                            border-radius: 4px !important;
                            }
                        .goog-te-banner-frame{visibility:hidden !important;}
                        
                        .goog-tooltip skiptranslate {visibility: hidden !important}
                    </style>
                </div>
                <!-- language code ends here-->
        </div>
    </div>