<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu>

<section class="content">
    <div class="container-fluid">
     
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2 class="font-bold">
                            Premium Package list
                            <button type="button" (click)="navigateAddPremiumPackage()" class="btn btn-success waves-effect pull-right">Add </button>
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Premium Days</th>
                                        <th>Premium Amount</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let item of userlist let idx=index">
                                        <td>{{idx+1}}</td>
                                        <td>{{item.package_name}}</td>
                                        <td>{{item.downline_count}}</td>
                                        <td>{{item.earning_amt}}</td> 
                                        <td>
                                            <a href="javascript:void(0);" (click)="editearnings(item.id)"><i class="material-icons">edit</i></a>
                                            <a href="javascript:void(0);" (click)="deleteearnings(item.id)"><i class="material-icons">delete</i></a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>