<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu> 
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            
            <div class="col-xs-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">{{'Home'|translate}}</a></li>
                                <li role="presentation"><a href="#profile_settings" aria-controls="settings" role="tab" data-toggle="tab">{{'Profile'|translate}} {{'Settings'|translate}}</a></li>
                                <li role="presentation"><a href="#change_password_settings" aria-controls="settings" role="tab" data-toggle="tab">{{'change'|translate}}{{'Password'|translate}}</a></li>
                            </ul>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home">
                                    <div class="panel panel-default panel-post">
                                        <div class="panel-heading">
                                            <div class="media">
                                                <div class="">
                                                    <a href="#">
                                                        <img width="17%" height="auto" src="{{image_url}}{{model.image_url}}" />
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading">
                                                        <a href="#">{{model.fname}}</a> 
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="profile_settings">
                                    <form class="form-horizontal"  #profile="ngForm">
                                        <div class="form-group">
                                            <label for="NameSurname" class="col-sm-2 control-label">{{'Full Name Label' | translate}}</label>
                                            <div class="col-sm-10">
                                                <div class="form-line">
                                                    <input type="text" class="form-control" id="NameSurname" name="fname" [(ngModel)]="model.fname"  #fname="ngModel" placeholder="Name Surname" value="" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Email" class="col-sm-2 control-label">{{'Email Label' | translate}}</label>
                                            <div class="col-sm-10">
                                                <div class="form-line">
                                                    <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" [(ngModel)]="model.email"  #email="ngModel" value="example@example.com">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Email" class="col-sm-2 control-label">{{'Upload' | translate}}{{'Photos' | translate}}</label>
                                           <!--  <div class="col-sm-10">
                                                <div class="form-line">
                                                     <input name="file" type="file" (change)=fileEvent($event)/>
                                                </div>
                                                 <div class="preloader pl-size-xs" style="display:none;">
                                                    <div class="spinner-layer pl-red-grey">
                                                        <div class="circle-clipper left">
                                                            <div class="circle"></div>
                                                        </div>
                                                        <div class="circle-clipper right">
                                                            <div class="circle"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                           <input type="file" (change)="fileChangeEvent($event)" />
                                            <image-cropper
                                                [imageChangedEvent]="imageChangedEvent"
                                                [maintainAspectRatio]="false"
                                                [aspectRatio]="4 / 3"                           
                                                format="png"
                                                (imageCropped)="imageCropped($event)"           
                                            ></image-cropper>
                                            <img [src]="croppedImage" style="width:30%;"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="InputExperience" class="col-sm-2 control-label">{{'Address Label' | translate}}</label>

                                            <div class="col-sm-10">
                                                <div class="form-line">
                                                    <textarea class="form-control" id="InputExperience1" name="address" rows="3" [(ngModel)]="model.address"  #address="ngModel" placeholder="Enter Address"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group"> 
                                            <label for="InputExperience" class="col-sm-2 control-label">{{'About Myself Label' | translate}}</label>
                                            <div class="col-sm-10">
                                                <div class="form-line">
                                                    <textarea class="form-control" id="InputExperience" name="about_me" rows="3" [(ngModel)]="model.about_me"  #about_me="ngModel" placeholder="Say about yourself"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" [disabled]="!profile.form.valid" class="btn btn-danger" (click)="update_profile();">{{'Submit Button Label' | translate}}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="change_password_settings">
                                    <form class="form-horizontal" #password_update="ngForm">                                       
                                        <div class="form-group">
                                            <label for="NewPassword" class="col-sm-3 control-label">{{'New Password Label' | translate}}</label>
                                            <div class="col-sm-9">
                                                <div class="form-line">
                                                    <input type="password" class="form-control" [(ngModel)]="model.password" #password="ngModel" name="password" minlength="6" (blur)="passwordMatch()" placeholder="Password" required>
                                                </div>
                                                 <div *ngIf="password.errors && (password.dirty || password.touched)" class="">
                                                    <span *ngIf="password.errors.required" class="text-danger">Password is required</span>
                                                    <span [hidden]="!password.errors.minlength" class="text-danger"> *Password should consist minimum six characters. </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="NewPasswordConfirm" class="col-sm-3 control-label">{{'New Password Label' | translate}} (Confirm)</label>
                                            <div class="col-sm-9">
                                                <div class="form-line">
                                                    <input type="password" class="form-control" [(ngModel)]="model.confirmp" #confirmp="ngModel" name="confirmp" minlength="6" placeholder="Confirm Password" (blur)="passwordMatch()" required>
                                                </div>
                                                <div *ngIf="confirmp.errors && (confirmp.dirty || confirmp.touched)" class="">
                                                    <span *ngIf="confirmp.errors.required" class="text-danger">Confirm Password is required</span>
                                                    <span [hidden]="!confirmp.errors.minlength" class="text-danger"> *Confirm Password should consist minimum six characters. </span>
                                                </div>
                                                <div *ngIf="model.passwordmatch">
                                                    <span class="text-danger"> *Passwors and confirm password is not match. </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-3 col-sm-9">
                                                <button type="submit" 
                                                [disabled]="((!password_update.form.valid) || (model.passwordmatch))" class="btn btn-danger" (click)="updatepassword()">{{'Submit Button Label' | translate}}{{model.passwordmatch}}</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




    