<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu> 


<section class="content">
        <div class="container-fluid">
            <!-- Hover Zoom Effect -->
            <div class="block-header">
                <h2>DASHBOARD</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="javascript:void(0);" [routerLink]="['/dashboard']">
                        <div class="info-box-3 bg-pink hover-zoom-effect">
                            <div class="icon">
                                <i class="material-icons">dashboard</i>
                            </div>
                            <div class="content"> 
                                <h5>Dashboard</h5>
                                <!-- <div class="number">15</div> -->
                            </div>
                        </div>
                    </a>    
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a href="javascript:void(0);" [routerLink]="['/managemarketers']">
                            <div class="info-box-3 bg-indigo hover-zoom-effect">
                                <div class="icon">
                                    <i class="material-icons">supervisor_account</i>
                                </div>
                                <div class="content">
                                    <h5>Manage Marketers</h5>
                                    <div class="number">15</div>
                                </div>
                            </div>
                        </a>    
                    </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="javascript:void(0);" [routerLink]="['/managepackages']">
                    <div class="info-box-3 bg-blue hover-zoom-effect">
                        <div class="icon">
                            <i class="material-icons">devices</i>
                        </div>
                        <div class="content">
                            <h5>Packages</h5>
                            <div class="number">2</div>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="javascript:void(0);" [routerLink]="['/accountinfo']">
                    <div class="info-box-3 bg-light-blue hover-zoom-effect">
                        <div class="icon">
                            <i class="material-icons">fingerprint</i>
                        </div>
                        <div class="content">
                            <h5>Account Info</h5>
                            
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="javascript:void(0);" [routerLink]="['/profile']">
                    <div class="info-box-3 bg-teal hover-zoom-effect">
                        <div class="icon">
                            <i class="material-icons">account_circle</i>
                        </div>
                        <div class="content">
                            <h5>Profile</h5>
                            
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="javascript:void(0);" [routerLink]="['/manageproducts']">
                    <div class="info-box-3 bg-green hover-zoom-effect">
                        <div class="icon">
                            <i class="material-icons">list</i>
                        </div>
                        <div class="content">
                            <h5>Manage Products</h5>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="javascript:void(0);" [routerLink]="['/managecontacts']">
                    <div class="info-box-3 bg-light-green hover-zoom-effect">
                        <div class="icon">
                            <i class="material-icons">contacts</i>
                        </div>
                        <div class="content">
                            <h5>Manage Contacts</h5>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a href="javascript:void(0);" [routerLink]="['/manageservices']">
                        <div class="info-box-3 bg-lime hover-zoom-effect">
                            <div class="icon">
                                <i class="material-icons">developer_board</i>
                            </div>
                            <div class="content">
                                <h5>Manage Services</h5>
                            </div>
                        </div>
                        </a>
                    </div>
                
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <a href="javascript:void(0);" [routerLink]="['/']">
                            <div class="info-box-3 bg-orange hover-zoom-effect">
                                <div class="icon">
                                    <i class="material-icons">input</i>
                                </div>
                                <div class="content">
                                    <h5>Logout</h5>
                                </div>
                            </div>
                            </a>
                        </div>


            </div>
            <!-- #END# Hover Zoom Effect -->



            <div class="row clearfix">
                <!-- Task Info -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card">
                                <div class="header">
                                    <h2>Share Balance to Marketer</h2>
                                    <span>(to share the balance. you should have more than 50 credit balance)</span>
                                    
                                </div>
                                <div class="body">
                                        <form name="transferform" #transfer=ngForm>
                                        <div class="form-group ">
                                                <label for="NameSurname" class="col-sm-2 control-label">Marketer Name</label>
                                                <div class="col-sm-3">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" id="marketername" name="mname" placeholder="Enter Marketer Name" [(ngModel)]="model.mname" #mname="ngModel" value="" (blur)="checkmarketer($event.target.value)" required>
                                                    </div>
                                                    <span [hidden]="mname.valid || mname.pristine" class="text-danger">Name is required</span>
                                                </div>

                                                <label for="NameSurname" class="col-sm-2 control-label">Amount to Share</label>
                                                    <div class="col-sm-3">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control" id="share_amt" name="share_amt" pattern="[0-9/.]*" [(ngModel)]="model.share_amt" (blur)="checkbalance()" #share_amt="ngModel" placeholder="Enter Amount to share" value="" required>
                                                        </div>
                                                        <div *ngIf="share_amt.errors && (share_amt.dirty || share_amt.touched)" class="">
                                                            <span *ngIf="share_amt.errors.required" class="text-danger">Amount is required</span>
                                                            <span [hidden]="!share_amt.hasError('pattern')" class="text-danger"> *Amount should have numbers only. </span>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <button type="submit" [disabled]="!transfer.form.valid" (click)="transferamount()" class="btn btn-success">Transfer</button>
                                                    </div>
                                                    

                                            </div>
                                            </form>
                                            <br/> <br/> <br/>       
                                                

                                </div>
                            </div>

                    <div class="card">
                        <div class="header">
                            <h2>WEBSITE INFO</h2>
                            
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-hover dashboard-task-infos">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Package Name</th>
                                            <th>Status</th>
                                            <th>Website Link</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of packagelist let idx=index">
                                            <td>{{idx+1}}</td>
                                            <td>{{data.package_name}}</td>
                                            <td *ngIf="data.status=='Active'">
                                                <span class="label bg-green">Active</span>
                                            </td>
                                            <td *ngIf="data.status!='Active'">
                                                <span class="label bg-red">Not Active</span>
                                            </td>
                                            <td><a href="">{{data.website}}</a></td>
                                        </tr>
                                        <!-- 
                                       
                                        <tr>
                                            <td>2</td>
                                            <td>Sample Package</td>
                                            <td>
                                                <span class="label bg-red">Not Active</span>
                                            </td>
                                            <td><a href="">View Webpage</a></td>
                                            
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #END# Task Info -->
               

                <button type="button" class="btn btn-default waves-effect m-r-20" data-toggle="modal" data-target="#largeModal">MODAL - LARGE SIZE</button>

                <!-- Large Size -->
                
            <div class="modal fade" id="largeModal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">Activate Package</h4>
                        </div>
                        <div class="modal-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales orci ante, sed ornare eros vestibulum ut. Ut accumsan
                            vitae eros sit amet tristique. Nullam scelerisque nunc enim, non dignissim nibh faucibus ullamcorper.
                            Fusce pulvinar libero vel ligula iaculis ullamcorper. Integer dapibus, mi ac tempor varius, purus
                            nibh mattis erat, vitae porta nunc nisi non tellus. Vivamus mollis ante non massa egestas fringilla.
                            Vestibulum egestas consectetur nunc at ultricies. Morbi quis consectetur nunc.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link waves-effect">SAVE CHANGES</button>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>


            </div>

           
        </div>
    </section>



    