<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu> 


<section class="content">
        <div class="container-fluid">
            <!-- Hover Zoom Effect -->
            <div class="block-header">
                <h2>{{'User Dashboard Label' | translate}}</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="javascript:void(0);" [routerLink]="['/dashboard']">
                        <div class="info-box-3 bg-pink hover-zoom-effect">
                            <div class="icon">
                                <i class="material-icons">dashboard</i>
                            </div>
                            <div class="content"> 
                                <h5>{{'User Dashboard Label' | translate}}</h5>
                                <!-- <div class="number">15</div> -->
                            </div>
                        </div>
                    </a>    
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a href="javascript:void(0);" [routerLink]="['/managemarketers']">
                            <div class="info-box-3 bg-indigo hover-zoom-effect">
                                <div class="icon">
                                    <i class="material-icons">supervisor_account</i>
                                </div>
                                <div class="content">
                                    <h5>{{'Manage Marketers' | translate}}</h5>
                                    <!-- <div class="number">15</div> -->
                                </div>
                            </div>
                        </a>    
                    </div>
                    <!-- <button type="button" class="btn btn-success" data-toggle="modal" data-target="#largeModal">Buy Package</button> -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#largeModal">
                    <div class="info-box-3 bg-blue hover-zoom-effect">
                        <div class="icon">
                            <i class="material-icons">devices</i>
                        </div>
                        <div class="content">
                            <h5>{{'Buy More Services' | translate}}</h5>
                            <!-- <div class="number">2</div> -->
                        </div>
                    </div>
                    </a>
                </div>
               <!--  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="javascript:void(0);" [routerLink]="['/managepackages']">
                    <div class="info-box-3 bg-blue hover-zoom-effect">
                        <div class="icon">
                            <i class="material-icons">devices</i>
                        </div>
                        <div class="content">
                            <h5>Packages</h5>
                            <div class="number">{{packagelist.length}}</div>
                        </div>
                    </div>
                    </a>
                </div> -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="javascript:void(0);" [routerLink]="['/accountinfo']">
                    <div class="info-box-3 bg-light-blue hover-zoom-effect">
                        <div class="icon">
                            <i class="material-icons">fingerprint</i>
                        </div>
                        <div class="content">
                            <h5>{{'Account Info' | translate}}</h5>
                            
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="javascript:void(0);" [routerLink]="['/profile']">
                    <div class="info-box-3 bg-teal hover-zoom-effect">
                        <div class="icon">
                            <i class="material-icons">account_circle</i>
                        </div>
                        <div class="content">
                            <h5>{{'Profile' | translate}}</h5>
                            
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="javascript:void(0);" [routerLink]="['/manageproducts']">
                    <div class="info-box-3 bg-green hover-zoom-effect">
                        <div class="icon">
                            <i class="material-icons">list</i>
                        </div>
                        <div class="content">
                            <h5>{{'Manage' | translate}} {{'Product' | translate}}</h5>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="javascript:void(0);" [routerLink]="['/managecontacts']">
                    <div class="info-box-3 bg-light-green hover-zoom-effect">
                        <div class="icon">
                            <i class="material-icons">contacts</i>
                        </div>
                        <div class="content">
                            <h5>{{'Manage' | translate}} {{'Contact' | translate}}</h5>
                        </div>
                    </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a href="javascript:void(0);" [routerLink]="['/manageservices']">
                        <div class="info-box-3 bg-lime hover-zoom-effect">
                            <div class="icon">
                                <i class="material-icons">developer_board</i>
                            </div>
                            <div class="content">
                                <h5>{{'Manage' | translate}} {{'Services' | translate}}</h5>
                            </div>
                        </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a href="javascript:void(0);" [routerLink]="['/chat']">
                        <div class="info-box-3 bg-yellow hover-zoom-effect">
                            <div class="icon">
                                <i class="material-icons">chat</i>
                            </div>
                            <div class="content">
                                <h5>{{'Chat' | translate}}</h5>
                            </div>
                        </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a href="javascript:void(0);"  data-toggle="modal" data-target="#myModalchangelanguage">
                        <div class="info-box-3 bg-orange hover-zoom-effect">
                            <div class="icon">
                                <i class="material-icons">language</i>
                            </div>
                            <div class="content">
                                <h5>{{'Change Language' | translate}}</h5>
                            </div>
                        </div>
                        </a>
                    </div> 
                  

                
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <a href="javascript:void(0);" [routerLink]="['/']">
                            <div class="info-box-3  bg-deep-orange hover-zoom-effect">
                                <div class="icon">
                                    <i class="material-icons">power_settings_new</i>
                                </div>
                                <div class="content">
                                    <h5>{{'Logout' | translate}}</h5>
                                </div>
                            </div>
                            </a>
                        </div>

                    
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box-4 hover-zoom-effect">
                                <div class="icon">
                                    <i class="material-icons col-blue">business_center</i>
                                </div>
                                <div class="content">
                                    <div class="text">{{'Entrepreneur'| translate}} {{'Voucher'| translate}}</div>
                                    <div class="number">{{model.tot_amt}}</div>
                                </div>
                            </div>
                        </div>    
                    
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box-4 hover-zoom-effect">
                                <div class="icon">
                                    <i class="material-icons col-blue">business_center</i>
                                </div>
                                <div class="content">
                                    <div class="text">{{'Entrepreneur'| translate}} {{'Renew'| translate}} {{'Voucher'| translate}}</div>
                                    <div class="number">{{model.tamount_renewal}}</div>
                                </div>
                            </div>
                        </div> 

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box-4 hover-zoom-effect">
                                <div class="icon">
                                    <i class="material-icons col-blue">business</i>
                                </div>
                                <div class="content">
                                    <div class="text">{{'Business'| translate}} {{'Voucher'| translate}}</div>
                                    <div class="number">{{model.bw_amount}}</div>
                                </div>
                            </div>
                        </div> 

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box-4 hover-zoom-effect">
                                <div class="icon">
                                    <i class="material-icons col-blue">business</i>
                                </div>
                                <div class="content">
                                    <div class="text">{{'Business'| translate}} {{'Renew'| translate}} {{'Voucher'| translate}}</div>
                                    <div class="number">{{model.bw_amount_renewal}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box-4 hover-zoom-effect">
                                <div class="icon">
                                    <i class="material-icons col-blue">person</i>
                                </div>
                                <div class="content">
                                    <div class="text">{{'Personal'| translate}} {{'Voucher'| translate}}</div>
                                    <div class="number">{{model.pw_amount}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box-4 hover-zoom-effect">
                                <div class="icon">
                                    <i class="material-icons col-blue">person</i>
                                </div>
                                <div class="content">
                                    <div class="text">{{'Personal'| translate}} {{'Renew'| translate}} {{'Voucher'| translate}}</div>
                                    <div class="number">{{model.pw_amount_renewal}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box-4 hover-zoom-effect">
                                <div class="icon">
                                    <i class="material-icons col-blue">library_books</i>
                                </div>
                                <div class="content">
                                    <div class="text">{{'Instructor'| translate}} {{'Voucher'| translate}}</div>
                                    <div class="number">{{model.instructor_amount}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box-4 hover-zoom-effect">
                                <div class="icon">
                                    <i class="material-icons col-blue">library_books</i>
                                </div>
                                <div class="content">
                                    <div class="text">{{'Instructor'| translate}}  {{'Renew'| translate}} {{'Voucher'| translate}}</div>
                                    <div class="number">{{model.instructor_amount_renewal}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box-4 hover-zoom-effect">
                                <div class="icon">
                                    <i class="material-icons col-blue">school</i>
                                </div>
                                <div class="content">
                                    <div class="text">{{'Student'| translate}} {{'Voucher'| translate}}</div>
                                    <div class="number">{{model.e_amt}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box-4 hover-zoom-effect">
                                <div class="icon">
                                    <i class="material-icons col-blue">school</i>
                                </div>
                                <div class="content">
                                    <div class="text">{{'Student'| translate}} {{'Renew'| translate}} {{'Voucher'| translate}}</div>
                                    <div class="number">{{model.eamount_renewal}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box-4 hover-zoom-effect">
                                <div class="icon">
                                    <i class="material-icons col-blue">local_mall</i>
                                </div>
                                <div class="content">
                                    <div class="text">{{'Mall'| translate}} {{'Voucher'| translate}}</div>
                                    <div class="number">{{model.mall_amount}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box-4 hover-zoom-effect">
                                <div class="icon">
                                    <i class="material-icons col-blue">local_mall</i>
                                </div>
                                <div class="content">
                                    <div class="text">{{'Mall'| translate}} {{'Renew'| translate}} {{'Voucher'| translate}}</div>
                                    <div class="number">{{model.mall_amount_renewal}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box-4 hover-zoom-effect">
                                <div class="icon">
                                    <i class="material-icons col-blue">domain</i>
                                </div>
                                <div class="content">
                                    <div class="text">{{'Floor'| translate}} {{'Voucher'| translate}}</div>
                                    <div class="number">{{model.floor_amount}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box-4 hover-zoom-effect">
                                <div class="icon">
                                    <i class="material-icons col-blue">domain</i>
                                </div>
                                <div class="content">
                                    <div class="text">{{'Floor'| translate}} {{'Renew'| translate}} {{'Voucher'| translate}}</div>
                                    <div class="number">{{model.floor_amount_renewal}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box-4 hover-zoom-effect">
                                <div class="icon">
                                    <i class="material-icons col-blue">store_mall_directory</i>
                                </div>
                                <div class="content">
                                    <div class="text">{{'Shop'| translate}} {{'Voucher'| translate}}</div>
                                    <div class="number">{{model.shop_amount}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box-4 hover-zoom-effect">
                                <div class="icon">
                                    <i class="material-icons col-blue">store_mall_directory</i>
                                </div>
                                <div class="content">
                                    <div class="text">{{'Shop'| translate}} {{'Renew'| translate}} {{'Voucher'| translate}}</div>
                                    <div class="number">{{model.shop_amount_renewal}}</div>
                                </div>
                            </div>
                        </div>


            </div>
            <!-- #END# Hover Zoom Effect -->

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Package Activation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="" #addpackage="ngForm">
                                            <div class="">
                                                <p><b>Package Name</b></p>
                                                <div class="form-group"> 
                                                    <div class="form-line">
                                                        <input type="text" id="package_name " name="package_name " class="form-control" placeholder="{{'Enter' | translate}} {{'Package Name' | translate}}" [(ngModel)]="model.package_name " #package_name="ngModel" required [readonly]="true">
                                                    </div>
                                                    <span [hidden]="package_name.valid || package_name.pristine" class="text-danger">Package Name is required</span>
                                                </div>
                                            </div>
                                            <div class="">
                                                <p><b>Package price</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" id="package_price" name="package_price" class="form-control" placeholder="{{'Enter' | translate}} {{'Package Name' | translate}}" [(ngModel)]="model.package_price" #package_price="ngModel" required [readonly]="true">
                                                    </div>
                                                    <span [hidden]="package_price.valid || package_price.pristine" class="text-danger">Package price is required</span>
                                                </div>
                                            </div>
                                            <div>
                                                <p><b>Website Name</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" id="website" name="website" class="form-control" placeholder="{{'Enter' | translate}}{{'Website' | translate}}" [(ngModel)]="model.website" #website="ngModel" required>
                                                    </div>
                                                    <span [hidden]="website.valid || website.pristine" class="text-danger">website is required</span>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                               <!--  <button type="button" class="btn btn-primary">Pay with paypal</button> -->
                                                <button type="button"  (click)="pay_via_voucher()" class="btn btn-primary">Pay with voucher</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div >
                                        <form *ngIf="payment_details"  #voucher="ngForm">
                                            <div class="col-md-12">
                                                <p><b>User Name</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" id="username " name="username" class="form-control" placeholder="{{'Enter' | translate}}{{'UserName' | translate}}" [(ngModel)]="payment_data.username" (blur)="checkUserexist($event)" #user_name="ngModel" required>
                                                    </div>
                                                    <span [hidden]="user_name.valid || user_name.pristine" class="text-danger">User Name is required</span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <p><b>Password</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="password" id="password" name="password" class="form-control" placeholder="{{'Enter' | translate}}{{'Password' | translate}}" [(ngModel)]="payment_data.password" #password="ngModel" required>
                                                    </div>
                                                    <span [hidden]="password.valid || password.pristine" class="text-danger">Password is required</span>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" [disabled]="!voucher.form.valid || showButton" class="btn btn-primary" (click)="paytoactivate()">Pay</button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="CancelPayment()">Cancel</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


            
            <div class="row clearfix">
                <!-- Task Info -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <!-- <div class="card"> 
                        <div class="header">
                            <h2>Change Language</h2>
                            
                        </div>
                        <div class="body">
                                <div id="google_translate_element" class="form-group"></div>
                        </div>
                    
                        <script type="text/javascript">
                            function googleTranslateElementInit() {
                            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                                
                            }
                            
                        </script>
                        <style>
                            .goog-logo-link{
                            display:none;
                            }
                            .skiptranslate{color:white !important;}
                            .goog-te-combo{ 
                                color: #666 !important;
                                display: block !important;
                                width: 100% !important;
                                height: 34px !important;
                                padding: 6px 12px !important;
                                font-size: 14px !important;
                                line-height: 1.42857143 !important;
                                background-color: #fff !important;
                                background-image: none !important;
                                border: 1px solid #ccc !important;
                                border-radius: 4px !important;
                                }
                            .goog-te-banner-frame{visibility:hidden !important;}
                            
                            .goog-tooltip skiptranslate {visibility: hidden !important}
                        </style>
                        
                       
                        
                    </div> -->
                    <!-- translate code ends here-->

                    <!-- <div class="card">
                        <div class="header">
                            <h2>{{'Dashboard Share Balance to Marketer' | translate}}</h2>
                            <span>(to share the balance, you should have more than RV 1)</span>
                        </div>
                        <div class="body">
                            <div>
                                <label for="NameSurname" class="col-sm-4 control-label">{{'Total Available balance amount'| translate}}</label>
                                <div class="col-sm-2">
                                    <span class="label bg-orange"> {{model.tot_amt}} </span>
                                </div>
                            </div>
                            <br/>
                            <form name="transferform" #transfer=ngForm>
                                <div class="form-group ">
                                    <label for="NameSurname" class="col-sm-2 control-label">{{'Marketer Name Label' | translate}}</label>
                                    <div class="col-sm-3">
                                        <div class="form-line">
                                            <input type="text" class="form-control" id="marketername" name="mname" placeholder="{{'Enter' | translate}}{{'Marketers' | translate}}{{'Name' | translate}}" [(ngModel)]="model.mname" #mname="ngModel" value="" (blur)="checkmarketer($event.target.value)" required>
                                        </div>
                                        <div *ngIf="mname.invalid && (mname.dirty || mname.touched)" class="" style="color: red;">
                                            <span *ngIf="mname.errors.required">
                                                Name is required.
                                            </span>                                        
                                        </div>
                                    </div>
                                    <label for="NameSurname" class="col-sm-2 control-label">{{'Amount to share Label' | translate}}</label>
                                    <div class="col-sm-3">
                                        <div class="form-line">
                                            <input type="text" class="form-control" id="share_amt" name="share_amt" pattern="[0-9/.]*" [(ngModel)]="model.share_amt" (keypress)="restrictNumbers($event)" (blur)="checkbalance('1')" #share_amt="ngModel" placeholder="{{'Amount to share Label' | translate}}" value="" required>
                                        </div>
                                        <div *ngIf="share_amt.invalid && (share_amt.dirty || share_amt.touched)" class="" style="color: red;">
                                            <span *ngIf="share_amt.errors.required" class="text-danger">Amount is required</span>
                                            <span [hidden]="!share_amt.hasError('pattern')" class="text-danger"> *Amount should have numbers only. </span>
                                        </div>                                        
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" [disabled]="!transfer.form.valid" (click)="transferamount('1')" class="btn btn-success">{{'Transfer Button Label' | translate}}</button>
                                        <div class="preloader loader-2 pl-size-xs" style="display:none;">
                                            <div class="spinner-layer pl-red-grey">
                                                <div class="circle-clipper left">
                                                    <div class="circle"></div>
                                                </div>
                                                <div class="circle-clipper right">
                                                    <div class="circle"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br/> <br/> <br/>
                        </div>
                    </div> -->

                    <!-- <div class="card">
                        <div class="header">
                            <h2>{{'E-Learning' | translate}} {{'Student' | translate}} {{'Voucher' | translate}}</h2>
                            <span>(to share the balance, you should have more than SV 1)</span>
                        </div>
                        <div class="body">
                            <div>
                                <label for="NameSurname" class="col-sm-4 control-label">{{'Total Available voucher amount'| translate}}</label>
                                <div class="col-sm-2">
                                    <span class="label bg-orange"> {{model.e_amt}} </span>
                                </div>
                            </div>
                            <br/>
                            <form name="elearningform" #elearning=ngForm>
                                <div class="form-group ">
                                    <label for="NameSurname" class="col-sm-2 control-label">{{'Marketer Name Label' | translate}}</label>
                                    <div class="col-sm-3">
                                        <div class="form-line">
                                            <input type="text" class="form-control" id="marketername" name="mname" placeholder="{{'Marketer Name Label' | translate}}" [(ngModel)]="elearningmodel.emname" #studentemname="ngModel" value="" (blur)="checkmarketer($event.target.value)" required>
                                        </div>
                                        <div *ngIf="studentemname.invalid && (studentemname.dirty || studentemname.touched)" class="" style="color: red;">
                                            <span *ngIf="emname.errors.required">
                                                Name is required.
                                            </span>                                        
                                        </div>
                                    </div>
                                    <label for="NameSurname" class="col-sm-2 control-label">{{'Voucher to Share'|translate}}</label>
                                    <div class="col-sm-3">
                                        <div class="form-line">
                                            <input type="text" class="form-control" id="eshare_amt" name="eshare_amt" pattern="[0-9/.]*" [(ngModel)]="elearningmodel.share_amt" (blur)="checkbalance('2')" #student_eshare_amt="ngModel" placeholder="{{'Voucher to Share'|translate}}" (keypress)="restrictNumbers($event)" value="" required>
                                        </div>
                                        <div *ngIf="student_eshare_amt.invalid && (student_eshare_amt.dirty || student_eshare_amt.touched)" class="" style="color: red;">
                                            <span *ngIf="student_eshare_amt.errors.required" class="text-danger">Amount is required</span>
                                            <span [hidden]="!student_eshare_amt.hasError('pattern')" class="text-danger"> *Amount should have numbers only. </span>                                      
                                        </div>                                        
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" [disabled]="!elearning.form.valid" (click)="transferamount('2')" class="btn btn-success">Transfer</button>
                                        <div class="preloader loader-1 pl-size-xs" style="display:none;">
                                            <div class="spinner-layer pl-red-grey">
                                                <div class="circle-clipper left">
                                                    <div class="circle"></div>
                                                </div>
                                                <div class="circle-clipper right">
                                                    <div class="circle"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br/> <br/> <br/>
                        </div>
                    </div> -->


                    <!-- <div class="card">
                        <div class="header">
                            <h2>{{'E-Learning' | translate}} {{'Instructor' | translate}} {{'Voucher' | translate}}</h2>
                            <span>(to share the balance, you should have more than IV 1)</span>
                        </div>
                        <div class="body">
                            <div>
                                <label for="NameSurname" class="col-sm-4 control-label">{{'Total Available voucher amount'| translate}}</label>
                                <div class="col-sm-2">
                                    <span class="label bg-orange"> {{model.instructor_amt}} </span>
                                </div>
                            </div>
                            <br/>
                            <form name="elearningInstrucorform" #elearningInstructor=ngForm>
                                <div class="form-group ">
                                    <label for="NameSurname" class="col-sm-2 control-label">{{'Marketer Name Label' | translate}}</label>
                                    <div class="col-sm-3">
                                        <div class="form-line">
                                            <input type="text" class="form-control" id="marketername" name="mname" placeholder="{{'Marketer Name Label' | translate}}" [(ngModel)]="InstructorTransferDate.emname" #emname="ngModel" value="" (blur)="checkmarketer($event.target.value)" required>
                                        </div>
                                        <div *ngIf="emname.invalid && (emname.dirty || emname.touched)" class="" style="color: red;">
                                            <span *ngIf="emname.errors.required">
                                                Name is required.
                                            </span>                                        
                                        </div>
                                    </div>
                                    <label for="NameSurname" class="col-sm-2 control-label">{{'Voucher to Share'|translate}}</label>
                                    <div class="col-sm-3">
                                        <div class="form-line">
                                            <input type="text" class="form-control" id="eshare_amt" name="eshare_amt" pattern="[0-9/.]*" [(ngModel)]="InstructorTransferDate.share_amt" (blur)="checkbalance('3')" #eshare_amt="ngModel" placeholder="{{'Voucher to Share'|translate}}" (keypress)="restrictNumbers($event)" value="" required>
                                        </div>
                                        <div *ngIf="eshare_amt.invalid && (eshare_amt.dirty || eshare_amt.touched)" class="" style="color: red;">
                                            <span *ngIf="eshare_amt.errors.required" class="text-danger">Amount is required</span>
                                            <span [hidden]="!eshare_amt.hasError('pattern')" class="text-danger"> *Amount should have numbers only. </span>                                      
                                        </div>                                        
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" [disabled]="!elearningInstructor.form.valid" (click)="transferInstructoramount()" class="btn btn-success">Transfer</button>
                                        <div class="preloader loader-2 pl-size-xs" style="display:none;">
                                            <div class="spinner-layer pl-red-grey">
                                                <div class="circle-clipper left">
                                                    <div class="circle"></div>
                                                </div>
                                                <div class="circle-clipper right">
                                                    <div class="circle"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br/> <br/> <br/>
                        </div>
                    </div> -->

                   

                    <div class="card">
                        <div class="header">
                            <h2>{{'Transfer' | translate}} {{'Voucher' | translate}}</h2>
                            <span>(to share the balance, you should have more than RV 1)</span>
                        </div>
                        <div class="body">
                      
                            <form name="transferVoucherform" #transferVoucherform=ngForm>
                                <p><b>{{'Voucher' | translate}} {{'type' | translate}}</b></p>
                                <div class="form-group">  
                                    <div class="col-sm-12"> 
                                    <div class="form-line">
                                       <select class="form-control show-tick" [(ngModel)]="transmodel.voucher_type" #voucher_type="ngModel" name="voucher_type"  required> 
                                            <option value="">{{'Select' | translate}} {{'Voucher' | translate}}</option>
                                            <option value="1">Entrepreneur</option>
                                            <option value="2">Entrepreneur Renewal</option>
                                            <option value="3">Instructor</option>
                                            <option value="4">Instructor Renewal</option>
                                            <option value="5">Student</option>
                                            <option value="6">Student Renewal</option>
                                            <option value="7">Personal</option>
                                            <option value="8">Personal Renewal</option>
                                            <option value="9">Business</option>
                                            <option value="10">Business Renewal</option>
                                            <option value="11">Mall</option>
                                            <option value="12">Mall Renewal</option>
                                            <option value="13">Floor</option>
                                            <option value="14">Floor Renewal</option>
                                            <option value="15">Shop</option>
                                            <option value="16">Shop Renewal</option>
                                        </select>
                                    </div>  
                                    </div>    
                                </div>

                                <div class="form-group">
                                    <label for="NameSurname" class="col-sm-2 control-label">{{'Marketer Name Label' | translate}}</label>
                                    <div class="col-sm-3">
                                        <div class="form-line">
                                            <input type="text" class="form-control" id="cvmarketername" name="cvmname" placeholder="{{'Marketer Name Label' | translate}}" [(ngModel)]="transmodel.cvmname" #cvmname="ngModel" value="" (blur)="checkcvmarketer($event.target.value)" required>
                                        </div>
                                        <div *ngIf="cvmname.invalid && (cvmname.dirty || cvmname.touched)" class="" style="color: red;">
                                            <span *ngIf="cvmname.errors.required">
                                                Name is required.
                                            </span>                                        
                                        </div>
                                    </div>
                                    <label for="NameSurname" class="col-sm-2 control-label">{{'Voucher to Share'|translate}}</label>
                                    <div class="col-sm-3">
                                        <div class="form-line">
                                            <input type="text" class="form-control" id="cvshare_amt" name="cvshare_amt" pattern="[0-9/.]*" [(ngModel)]="transmodel.cvshare_amt" (blur)="checkcvbalance()" #cvshare_amt="ngModel" placeholder="{{'Voucher to Share'|translate}}" (keypress)="restrictNumbers($event)" value="" required>
                                        </div>
                                        <div *ngIf="cvshare_amt.invalid && (cvshare_amt.dirty || cvshare_amt.touched)" class="" style="color: red;">
                                            <span *ngIf="cvshare_amt.errors.required" class="text-danger">Amount is required</span>
                                            <span [hidden]="!cvshare_amt.hasError('pattern')" class="text-danger"> *Amount should have numbers only. </span>                                      
                                        </div>                                        
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="submit" [disabled]="!transferVoucherform.form.valid" (click)="transferCvoucher()" class="btn btn-success">Transfer</button>
                                        <div class="preloader loader-2 pl-size-xs" style="display:none;">
                                            <div class="spinner-layer pl-red-grey">
                                                <div class="circle-clipper left">
                                                    <div class="circle"></div>
                                                </div>
                                                <div class="circle-clipper right">
                                                    <div class="circle"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <br/> <br/> <br/><br/><br/>
                        </div>
                    </div>



                    <div class="card">                                             
                        <div class="header">
                            <h2>{{'WEBSITE INFO'|translate}}</h2>
                            
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-hover dashboard-task-infos">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>{{'Package Name' | translate}}</th>
                                            <th>{{'Status' | translate}}</th>
                                            <th>{{'Website link' | translate}}</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of packagelist let idx=index">
                                            <td>{{idx+1}}</td>
                                            <td>{{data.package_name}}</td>
                                            <td *ngIf="data.status=='Active'">
                                                <span class="label bg-green">Active</span>
                                            </td>
                                            <td *ngIf="data.status=='Inactivate'">
                                                <span class="label bg-red">Not Active</span>
                                            </td>
                                             <td *ngIf="data.status=='Expired'">
                                                <a href="#" (click)="onGoToPage2(data.package_name,data.package_price,data.pck_user_id,data.pck_id,data.pck_user_master_id,data.website,data.template)" data-toggle="modal" data-target="#exampleModal"><span class="label bg-orange">Expired</span></a>
                                            </td>

                                            <td *ngIf="data.status=='Renewal'">
                                                <a href="#" (click)="onGoToPage2(data.package_name,data.package_price,data.pck_user_id,data.pck_id,data.pck_user_master_id,data.website,data.template)" data-toggle="modal" data-target="#exampleModal"><span class="label bg-orange">Expired</span></a>
                                            </td>
                                            

                                            <td>
                                                <a href="{{websiteurl}}/{{data.website}}" target="_blank" (click)="userweb(data.website)">{{data.website}}</a>
                                            </td>
                                            <!-- <td><a >{{data.website}}</a></td> -->
                                        </tr>
                                        <!-- 
                                       
                                        <tr>
                                            <td>2</td>
                                            <td>Sample Package</td>
                                            <td>
                                                <span class="label bg-red">Not Active</span>
                                            </td>
                                            <td><a href="">View Webpage</a></td>
                                            
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- #END# Task Info -->
               

                

                <!-- Large Size -->
                
            <div class="modal fade" id="largeModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="largeModalLabel">{{'Activate' | translate}}{{'Package' | translate}}</h4>
                        </div>
                        <div class="modal-body">
                            <form #addpackage="ngForm">
                           <div class="col-md-6">
                                    <p><b>Select Package</b></p> 
                                    <select class="form-control show-tick" [(ngModel)]="model.packuser" #packuser="ngModel" name="packuser"  required>
                                        <option [ngValue]="select">select website</option>    
                                        <option *ngFor="let model of package_vs_user_list" value="{{model.id}}">{{model.package_name}}</option>
                                    </select>
                                    <span [hidden]="packuser.valid || packuser.pristine" class="text-danger">Package is required</span>
                                </div>
                                <div class="col-md-12">&nbsp;&nbsp;</div>
                                <div class="col-md-12">&nbsp;&nbsp;</div>
                                <div class="col-md-12">
                                     <button type="button" class="btn btn-primary" (click)="savepackages()">{{'Buy Package' | translate}}</button>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">{{'Close' | translate}}</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                          
                        </div>
                    </div>
                </div>
            </div>


            </div>

           
        </div>
    </section>



    