<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2 class="font-bold">
                            {{'Add' | translate}}{{'Channel' | translate}}
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header">
                                        
                                    </div>
                                    <div class="body">
                                        <form class="" #addchannel="ngForm">
	                                        <div class="row clearfix">
	                                           <div class="col-md-6">
	                                                <p><b>{{'life' | translate}}</b></p>
	                                                <div class="form-group">
	                                                   <div class="form-line">
	                                                        <select class="form-control show-tick" [(ngModel)]="model.website" #website="ngModel" name="website" required (change)="updateChannelUrl()">
	                                                            <option [ngValue]="select" value="">select life</option>    
	                                                            <option *ngFor="let model of websitelist" value="{{model.website}}">{{model.website}}</option>
	                                                        </select>
	                                                        <span [hidden]="website.valid || website.pristine" class="text-danger">life is required</span>
	                                                        </div>
	                                                </div>
	                                            </div>
	                                             <div class="col-md-6">
	                                                <div class="form-group">
	                                                 	<label for="NameSurname" class="col-sm-2 control-label">{{'Channel' | translate}} {{'Name' | translate}}</label>
	                                                	<div class="col-sm-10">
		                                                    <div class="form-line">
		                                                        <input type="text" class="form-control" id="channel_name" name="channel_name" [(ngModel)]="model.channel_name"  #channel_name="ngModel" placeholder="{{'Channel' | translate}} {{'Name' | translate}}"  required (blur)="updateChannelUrl()">
		                                                    </div>
														</div>
														<span class="text-danger" *ngIf="!model.Isvalidate">
															Enter valid channel name
														</span>
	                                                </div>
	                                            </div>                
	                                        </div> 
	                                        <div class="row clearfix">
	                                            <div class="col-md-6">
	                                                <p><b>{{'Channel' | translate}} {{'Profile' | translate}}{{'image' | translate}}</b></p>                     
	                                                 <input type="file" (change)="profileImageUpload($event)" />
			                                            <image-cropper
			                                                [imageChangedEvent]="profileimageChangedEvent"
			                                                [maintainAspectRatio]="false"
			                                                [aspectRatio]="4 / 3"
			                                                format="png"
			                                                (imageCropped)="profileimageCropped($event)"           
			                                            ></image-cropper>
	                                            	<img [src]="profilecroppedImage" style="width:30%;"/>
	                                            </div> 
	                                            <div class="col-md-6">
	                                                <p><b>{{'Channel' | translate}} {{'Banner' | translate}}</b></p>                     
	                                                 <input type="file" (change)="bannerImageUpload($event)" />
			                                            <image-cropper
			                                                [imageChangedEvent]="bannerimageChangedEvent"
			                                                [maintainAspectRatio]="false"
			                                                [aspectRatio]="4 / 3"
			                                                format="png"
			                                                (imageCropped)="bannerimageCropped($event)"           
			                                            ></image-cropper>
	                                            	<img [src]="bannercroppedImage" style="width:30%;"/>
	                                            </div> 
	                                        </div>
                                           <div class="row clearfix" >
	                                            <div class="col-md-6">
	                                                <p><b>{{'About' | translate}} {{'Channel' | translate}}</b></p>                     
	                                                <textarea #about_channel="ngModel" [(ngModel)]="model.about_channel"  name="about_channel">
                                                        
                                                    </textarea>
	                                            </div> 
	                                            <div class="col-md-6">
	                                                <p><b>{{'Channel URL' | translate}}</b></p>                     
	                                                <input type="text" class="form-control" id="channel_url" name="channel_url" [(ngModel)]="model.channel_url"  #channel_url="ngModel" placeholder="{{'Channel URL' | translate}}" readonly>
	                                            </div> 
	                                        </div>
                                        	<button type="submit" [disabled]="!addchannel.form.valid || !model.Isvalidate" class="btn btn-primary m-t-15 waves-effect" (click)="addchannel_form()"> {{'Add' | translate}}{{'Channel' | translate}}</button>&nbsp;
                                        	&nbsp;&nbsp;&nbsp;<button type="button" (click)="back()" class="btn btn-primary m-t-15 waves-effect">{{'Cancel' | translate}}</button>
                                    	</form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>