<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu> 


<section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>Admin Dashboard</h2>
            </div>

              <!-- Widgets -->
            <div class="row clearfix">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">playlist_add_check</i>
                        </div>
                        <div class="content">
                            <div class="text">Total Users</div>
                            <div class="">
                                {{userlist.length}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">help</i>
                        </div>
                        <div class="content">
                            <div class="text">Total website Register</div>
                            <div class="">
                                {{model.total_web_count}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">forum</i>
                        </div>
                        <div class="content">
                            <div class="text">Total Active website</div>
                            <div class="">
                                {{model.total_active_web_count}} 
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">help</i>
                        </div>
                        <div class="content">
                            <div class="text">Total website Yet to active</div>
                            <div class="">
                                {{model.total_yet_to_active}}
                            </div>
                        </div>
                    </div>
                </div>              
            </div>
            <!-- #END# Widgets -->



            <div class="row clearfix">
                <!-- Task Info -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2>Share Balance to Marketer<small>(to share the balance. you should have more than 50RM balance)</small></h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another action</a></li>
                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <form name="transferform" #transfer=ngForm>
                            <div class="row clearfix">
                               
                                <div class="col-md-6">
                                    <p><b>Marketer name</b></p>                                   
                                    <input type="text" class="form-control" id="marketername" name="mname" placeholder="Enter Marketer Name" [(ngModel)]="model.mname" #mname="ngModel" value="" (blur)="checkmarketer($event.target.value)" required>                                    
                                    <span [hidden]="mname.valid || mname.pristine" class="text-danger">Name is required</span>
                                </div>
                                <div class="col-md-6">
                                    <p><b>Enter Amount to share</b></p>
                                    <input type="text" class="form-control" placeholder="Enter Amount to share" [(ngModel)]="model.share_amt" #share_amt="ngModel" name="share_amt" required>
                                    <div *ngIf="share_amt.errors && (share_amt.dirty || share_amt.touched)" class="">
                                    <span *ngIf="share_amt.errors.required" class="text-danger">Amount is required</span>
                                    <span [hidden]="!share_amt.hasError('pattern')" class="text-danger"> *Amount should have numbers only. </span>
                                </div>
                                </div> 
                                
                                 <button type="submit"  (click)="transferamount()" [disabled]="!transfer.form.valid" class="btn btn-success m-t-15 waves-effect">Transfer</button> 
                                                           
                            </div>
                            </form>   
                        </div>
                    </div>
                </div>
                <!-- #END# Task Info -->
               
            </div>
        </div>
    </section>



    