<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            {{'Add' | translate}} {{'Contact' | translate}}
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header">
                                        <!-- <h2>
                                            Add Contact
                                        </h2> -->
                                    </div>
                                    <div class="body">  
                                    <form class="" #addcontact="ngForm">                                    
                                        <div class="row clearfix">
                                            <div class="col-md-6">
                                                <p><b>{{'Select' | translate}} {{'Website' | translate}}</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <select class="form-control show-tick" [(ngModel)]="model.website" #website="ngModel" name="website" required>
                                                            <option [ngValue]="select">select website</option>    
                                                            <option *ngFor="let model of websitelist" value="{{model.website}}">{{model.website}}</option>
                                                        </select>
                                                        <span [hidden]="website.valid || website.pristine" class="text-danger">website is required</span>
                                                        </div>
                                                </div>
                                            </div>
                                          
                                             <div class="col-md-6">
                                                <p><b>{{'Twitter Url' | translate}}</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" placeholder="Enter Contact" [(ngModel)]="model.contact" #contact="ngModel" name="contact" required>
                                                    </div>
                                                     <span [hidden]="contact.valid || contact.pristine" class="text-danger">url is required</span>
                                                </div>
                                            </div>                                           
                                        </div>

                                         <div class="row clearfix">
                                            <div class="col-md-6">
                                                <p><b>{{'Web Profile' | translate}}</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                      <input type="file" (change)="fileChangeEvent($event)" />
                                                        <image-cropper
                                                            [imageChangedEvent]="imageChangedEvent"
                                                            [maintainAspectRatio]="false"
                                                            [aspectRatio]="4 / 3"
                                                            format="png"
                                                            (imageCropped)="imageCropped($event)"
                                                        ></image-cropper>
                                                        <img [src]="croppedImage" style="width:30%;"/> 
                                                    </div>
                                                     <div class="preloader pl-size-xs" style="display:none;">
                                                        <div class="spinner-layer pl-red-grey">
                                                            <div class="circle-clipper left">
                                                                <div class="circle"></div>
                                                            </div>
                                                            <div class="circle-clipper right">
                                                                <div class="circle"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                          
                                             <div class="col-md-6">
                                                <p><b>{{'About Profile' | translate}} </b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" placeholder="Enter your info" [(ngModel)]="model.about_website" #about_website="ngModel" name="contact" required>
                                                    </div>
                                                     <span [hidden]="about_website.valid || about_website.pristine" class="text-danger">About  is required</span>
                                                </div>
                                            </div>                                           
                                        </div>


                                        <div class="row clearfix">                                            
                                                <div class="col-md-6">
                                                    <p><b>{{'Facebook Url' | translate}} </b></p>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control" placeholder="Enter facebook Url" [(ngModel)]="model.fb_link" #fb_link="ngModel" name="fb_link">
                                                        </div>
                                                        <span [hidden]="fb_link.valid || fb_link.pristine" class="text-danger">Eacebook link is required</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <p><b>{{'LinkedIn Url' | translate}}</b></p>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control" placeholder="Enter linkedin Url" [(ngModel)]="model.linked_url" #linked_url="ngModel" name="linked_url">
                                                        </div>
                                                        <span [hidden]="linked_url.valid || linked_url.pristine" class="text-danger"> linked is required</span>
                                                    </div>
                                                </div>                                           
                                        </div>
                                         <div class="row clearfix">                                            
                                                 <div class="col-md-6">
                                                <p><b>{{'Mobile Phone Number' | translate}}</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" placeholder="Enter number" [(ngModel)]="model.phonenumber" #phonenumber="ngModel" name="phonenumber">
                                                    </div>                                                                              
                                                </div>
                                            </div> 

                                             <div class="col-md-6">
                                                <p><b>{{'Home numbers' | translate}}</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" placeholder="Enter number" [(ngModel)]="model.homenumber" #homenumber="ngModel" name="homenumber">
                                                    </div>                       
                                                </div>
                                            </div> 
                                          
                                            </div>
                                             <div class="row clearfix">                                            
                                                 <div class="col-md-6">
                                                <p><b>{{'Office numbers' | translate}}</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" placeholder="Enter number" [(ngModel)]="model.officenumber" #officenumber="ngModel" name="officenumber">
                                                    </div>                                                                              
                                                </div>
                                            </div> 

                                             <div class="col-md-6">
                                                <p><b>{{'FAX numbers' | translate}}</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" placeholder="Enter number" [(ngModel)]="model.faxnumber" #faxnumber="ngModel" name="homenumber">
                                                    </div>                       
                                                </div>
                                            </div> 
                                          
                                            </div>
                                             <div class="row clearfix">                                            
                                                 <div class="col-md-6">
                                                <p><b>{{'WhatsApp' | translate}}</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" placeholder="Enter number" [(ngModel)]="model.whatsapp" #whatsapp="ngModel" name="whatsapp">
                                                    </div>                                                                              
                                                </div>
                                            </div> 

                                             <div class="col-md-6">
                                                <p><b>{{'Telegram' | translate}}</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" placeholder="Enter number" [(ngModel)]="model.telegram" #telegram="ngModel" name="telegram">
                                                    </div>                       
                                                </div>
                                            </div> 
                                          
                                            </div>
                                            <div class="row clearfix">                                            
                                                 <div class="col-md-6">
                                                <p><b>{{'Address Label' | translate}}</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <textarea class="form-control" placeholder="Enter number" [(ngModel)]="model.address" #address="ngModel" name="address"></textarea>
                                                    </div>                                                                              
                                                </div>
                                            </div> 

                                             <div class="col-md-6">
                                                <p><b>{{'Email Label' | translate}}</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" [(ngModel)]="model.email"  #email="ngModel">
                                                    </div>                       
                                                </div>
                                            </div> 
                                          
                                            </div>           
                                        <button type="button" [disabled]="!addcontact.form.valid && model1.Imagefile!='undefined' " class="btn btn-primary m-t-15 waves-effect" (click)="addcontactlist()"> {{'Add' | translate}} {{'Contact' | translate}}</button>&nbsp;
                                        &nbsp;&nbsp;&nbsp;<button type="button" (click)="back()"class="btn btn-primary m-t-15 waves-effect">{{'Cancel' | translate}}</button>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>