<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu>

<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Edit Contact
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header">
                                        <!-- <h2>
                                            Add Contact
                                        </h2> -->
                                    </div>
                                    <div class="body">  
                                    <form class="" #addcontact="ngForm">                                    
                                        <div class="row clearfix">
                                            <div class="col-md-6">
                                                <p><b>Select Website</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <select class="form-control show-tick" [(ngModel)]="model.website" #website="ngModel" name="website" required>
                                                            <option [ngValue]="select">select website</option>    
                                                            <option *ngFor="let model of websitelist" value="{{model.website}}">{{model.website}}</option>
                                                        </select>
                                                        <span [hidden]="website.valid || website.pristine" class="text-danger">website is required</span>
                                                        </div>
                                                </div>
                                            </div>
                                             <div class="col-md-6">
                                                <p><b>Contact</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" placeholder="Enter Contact" [(ngModel)]="model.contact" #contact="ngModel" name="contact" required>
                                                    </div>
                                                     <span [hidden]="contact.valid || contact.pristine" class="text-danger">contact is required</span>
                                                </div>
                                            </div>                                           
                                        </div>
                                        <div class="row clearfix">                                            
                                                <div class="col-md-6">
                                                    <p><b>Facebook Url</b></p>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control" placeholder="Enter facebook Url" [(ngModel)]="model.fb_link" #fb_link="ngModel" name="fb_link" required>
                                                        </div>
                                                        <span [hidden]="fb_link.valid || fb_link.pristine" class="text-danger">Eacebook link is required</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <p><b>linkedin Url</b></p>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control" placeholder="Enter linkedin Url" [(ngModel)]="model.linked_url" #linked_url="ngModel" name="linked_url" required>
                                                        </div>
                                                        <span [hidden]="linked_url.valid || linked_url.pristine" class="text-danger"> linked is required</span>
                                                    </div>
                                                </div>                                           
                                            </div>
                                                            
                                        <button type="button" [disabled]="!addcontact.form.valid" class="btn btn-primary m-t-15 waves-effect" (click)="updatecontactlist()">Update Contact</button>&nbsp;
                                        &nbsp;&nbsp;&nbsp;<button type="button" (click)="back()"class="btn btn-primary m-t-15 waves-effect">Cancel</button>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>