<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu> 

<section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>
                  Manage Contacts
                </h2>
            </div>
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                      <div class="header">
                          <h2>Contact List
                              <button type="button" (click)="navigateAddcontact()" class="btn btn-success waves-effect pull-right">Add Contact</button>                 
                          </h2>
                      </div>
                      <div class="body table-responsive">
                          <table class="table table-striped">
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>CONTACT</th>
                                      <th>WEBSITE</th>
                                      <th>ACTION</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <th scope="row">1</th>
                                      <td>Contact 1</td>
                                      <td>website1 preminun</td>
                                      <td>
                                        <a href="#"><i class="material-icons">edit</i></a>
                                        <a href="#"><i class="material-icons">delete</i></a>
                                    </td>                                      
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Contact 2</td>
                                    <td>website2 preminun</td>
                                    <td>
                                      <a href="#"><i class="material-icons">edit</i></a>
                                      <a href="#"><i class="material-icons">delete</i></a>
                                  </td>                                        
                                </tr>
                                <tr>
                                  <th scope="row">3</th>
                                      <td>Contact 3</td>
                                      <td>website3 preminun</td>
                                      <td>
                                        <a href="#"><i class="material-icons">edit</i></a>
                                        <a href="#"><i class="material-icons">delete</i></a>
                                    </td>                                        
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
            </div>
          </div>
</section>
<!-- #END# Striped Rows -->