<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu> 

<section class="content">
        <div class="container-fluid">
            <div class="block-header"></div>
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                      <div class="header">
                          <h2>
                            {{'Transfer' | translate}}{{'List' | translate}}                             
                          </h2>
                      </div>
                      <div class="body">
                          <div class="table-responsive">
                              <table class="table table-bordered table-striped table-hover dataTable transferinfo_table" id="dataTable">
                              <thead>
                                  <tr>
                                      <th>#</th> 
                                      <th>{{'Transfer' | translate}} {{'to'|translate}}</th>
                                      <th>{{'Amount' | translate}}</th>
                                      <th>{{'Transfer' | translate}} {{'From'|translate}}</th>
                                      <th>{{'Voucher' | translate }} {{'type'|translate}}</th>
                                  </tr>
                              </thead>
                              <tbody>                                
                                  <tr *ngFor="let data of transferlist;let i=index;">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{data.transfer_to}}</td>
                                    <td>{{data.amt}}</td>
                                    <td>{{data.transfer_from}}</td> 
                                    <td>{{data.voucher_type}}</td>
                                </tr>                               
                              </tbody>
                          </table>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
</section>
<!-- #END# Striped Rows -->