<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu> 

<section class="content">
        <div class="container-fluid">           
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                      <div class="header">
                          <h2>
                            {{'Channel' | translate}}{{'List' | translate}}
                              <button type="button" (click)="navigateAddchannel()" class="btn btn-success waves-effect pull-right">{{'Add' | translate}}{{'Channel' | translate}}</button>                 
                          </h2>
                      </div>
                      <div class="body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover dataTable channelTable" id="channelTable">
                              <thead>
                                  <tr>
                                      <th>#</th>
                                      <th>{{'life' | translate}} {{'Name' | translate}}</th>
                                      <th>{{'Channel' | translate}} {{'Name' | translate}}</th>
                                      <th>{{'created-date' | translate}}</th>
                                      <th>{{'actions' | translate}}</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let data of channellist let idx=index">
                                      <th scope="row">{{idx+1}}</th>
                                      <td>{{data.website}}</td>
                                      <td>{{data.channel_name}}</td>
                                      <td>{{data.cdate}}</td>
                                      <td>
                                        <a href="javascript:void(0);" (click)="editchannel(data.id)"><i class="material-icons">edit</i></a>
                                        <a href="javascript:void(0);" (click)="deletechannel(data.id)"><i class="material-icons">delete</i></a>
                                        <input *ngIf="model.usergroup==1" type="button" name="iba_ad" (click)="changeibastatus(data.id)" class="btn btn-warning btn-xs" value="Enable IBA">
                                    </td>
                                    <td>
                                        <a href="javascript:void(0);" (click)="viewchannel(data.website,data.channel_name)">view channel</a>
                                    </td>
                                  </tr>
                                 
                              </tbody>
                          </table>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
</section>
<!-- #END# Striped Rows -->