<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu>

<section class="content">
    <div class="container-fluid">       
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>Manage Marketers</h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-basic-example">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Marketers Name</th>
                                    <th>Marketers website</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of userlist; let i=index;">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{data.username}}</td>
                                    <td><a><i (click)="redirectWebsite()" class="material-icons  col-pink">visibility</i></a></td>
                                </tr>
                               
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>