<app-topnav *ngIf="malltypeid=='' || malltypeid==null"></app-topnav>
<app-sidemenu *ngIf="malltypeid=='' || malltypeid==null"></app-sidemenu> 

<app-malldashboard *ngIf="malltypeid!=null"></app-malldashboard>
<section class="content">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2 class="font-bold">
                            {{'Edit' | translate}} {{'Product' | translate}}
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header">
                                        
                                    </div>
                                    <div class="body">
                                        <form class="" #addproduct="ngForm">
                                        <div class="row clearfix">
                                            <div class="col-md-6">
                                                <p><b>{{'Mall' | translate}}</b></p>
                                                <div class="form-group">
                                                   <div class="form-line">
                                                        <select class="form-control show-tick" [(ngModel)]="model.mall_id" #mall_id="ngModel"  (change)="getfloorlists()" name="mall_id" required>
                                                            <option [ngValue]="select">select Mall</option>    
                                                            <option *ngFor="let model of malllist" value="{{model.id}}">{{model.mall_name}}</option>
                                                        </select>
                                                        <span [hidden]="mall_id.valid || mall_id.pristine" class="text-danger">Mall is required</span>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <p><b>{{'Floor' | translate}}</b></p>
                                                <div class="form-group">
                                                   <div class="form-line">
                                                        <select class="form-control show-tick" [(ngModel)]="model.floor_id" (change)="getshoplists()" #floor_id="ngModel" name="floor_id" required>
                                                            <option [ngValue]="select">select Floor</option>    
                                                            <option *ngFor="let model of floorlist" value="{{model.id}}">{{model.floor_name}}</option>
                                                        </select>
                                                        <span [hidden]="floor_id.valid || floor_id.pristine" class="text-danger">Floor is required</span>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <p><b>{{'Shop' | translate}}</b></p>
                                                <div class="form-group">
                                                   <div class="form-line">
                                                        <select class="form-control show-tick" [(ngModel)]="model.shop_id" #shop_id="ngModel" name="shop_id" required>
                                                            <option [ngValue]="select">select Shop</option>    
                                                            <option *ngFor="let model of shoplist" value="{{model.id}}">{{model.shop_name}}</option>
                                                        </select>
                                                        <span [hidden]="shop_id.valid || shop_id.pristine" class="text-danger">Shop is required</span>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <b>{{'Product' | translate}}{{'Name' | translate}}</b>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" placeholder="Enter product" [(ngModel)]="model.product_name" name="product_name" #product_name="ngModel" required>
                                                    </div>
                                                      <span [hidden]="product_name.valid || product_name.pristine" class="text-danger">Product Name is required</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <p><b>{{'Paypal Email' | translate}}</b></p>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" placeholder="Enter Paypal Email" [(ngModel)]="model.paypal_email" name="paypal_email" #paypal_email="ngModel" required>
                                                    </div>
                                                      <span [hidden]="paypal_email.valid || paypal_email.pristine" class="text-danger">Paypal Email id is required</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <b>{{'image' | translate}}</b>
                                                <div class="form-group">
                                                    <div class="form-line">
                                                        <input type="file"  name="chatimage" id="chatimage"  (change)="onSelectFile($event)" class="btn btn-primary disabledsave" name="scan_img" >
                                                    </div>
                                                     
                                                </div>
                                            </div>
                                            <!-- <div class="col-md-6">
                                                    <b>Banner</b>
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="file"  name="banner" id="banner"  (change)="banneronSelectFile($event)" class="btn btn-primary disabledsave" name="banner" >
                                                        </div>
                                                         
                                                    </div>
                                                </div> -->
                                                <div class="col-md-6">
                                                        <b>{{'Description' | translate}}</b>
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                    <input type="text" class="form-control" placeholder="Enter Description" [(ngModel)]="model.description" name="description" #description="ngModel">
                                                            </div>
                                                             
                                                        </div>
                                                    </div>
                                        </div>       
                                        <button type="submit" [disabled]="!addproduct.form.valid" class="btn btn-primary m-t-15 waves-effect" (click)="updateproductlist()">{{'Update' | translate}} {{'Product' | translate}}</button>&nbsp;
                                        &nbsp;&nbsp;&nbsp;<button type="button" (click)="back()" class="btn btn-primary m-t-15 waves-effect">{{'Cancel' | translate}}</button>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>