<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu>

<section class="content">
    <div class="container-fluid">
        <!-- <div class="block-header">
                <h2>Manage Users
                    <small>Table</small>
                </h2>
            </div> -->

        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2 class="font-bold">
                            Add Video Post
                        </h2>
                    </div>
                    <div class="body">
                        <form class="" #registerForm="ngForm">
                            <div class="row clearfix">
                                <div class="col-md-6">
                                    <p><b>Title</b><span class="text-danger">*</span></p>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="title" placeholder="Enter Your video title" required [(ngModel)]="model.title" #title="ngModel">
                                        </div>
                                        <span [hidden]="title.valid || title.pristine" class="text-danger">Title is required</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p><b>Description</b></p>
                                    <div class="form-group">
                                        <div class="form-line">
                                            <textarea class="form-control" name="desc" [(ngModel)]="model.description" #description="ngModel" required></textarea>
                                        </div>
                                        <!-- <span [hidden]="desc.valid || desc.pristine" class="text-danger">Desc is required</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-6">
                                    <p><b>Upload Video</b></p>
                                    <div class="form-group">
                                       <div class="form-line">
                                             <input type="file" name="videoFor" (change)=fileEvent($event) required>   
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                     <label for="NameSurname" class="col-sm-2 control-label">Select video category</label>
                                    <div class="col-sm-10">
                                        <div class="form-line">    
                                          <select class="form-control show-tick" 
                                          [(ngModel)]="model.videocategory" #videocategory="ngModel" name="videocategory"> 
                                                <option value="select">Select Video category</option>
                                                <option value="1">Roodab videos</option>
                                                <option value="2">My website</option>
                                                <option value="3">To Marketer website</option>
                                            </select> 
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                      <p><b>Video Preview Image</b></p>                   
                                      <input type="file" (change)="fileChangeEvent($event)" />
                                      <image-cropper
                                          [imageChangedEvent]="imageChangedEvent"
                                          [maintainAspectRatio]="false"
                                          [aspectRatio]="4 / 3"
                                          format="png"
                                          (imageCropped)="imageCropped($event)"           
                                      ></image-cropper>
                                    <img [src]="croppedImage" style="width:30%;"/>
                                    <img src="{{websiteurl}}/{{model.preview_image}}" style="width:10%;">
                                </div>
                                <div class="col-md-6" *ngIf="model.videocategory==1">
                                    <p><b>Select Website</b></p>
                                    <div class="form-group">
                                       <div class="form-line">
                                            <select class="form-control show-tick" [(ngModel)]="model.website_name" #website_name="ngModel" name="website_name" required>
                                                <option [ngValue]="select">select website</option>    
                                                <option *ngFor="let data of websitelist" value="{{data.website}}">{{data.website}}</option>
                                            </select>
                                            <span [hidden]="website_name.valid || website_name.pristine" class="text-danger">website is required</span>
                                            </div>
                                    </div>
                                </div> 
                                <div class="col-md-6">
                                    <p><b>Tag</b><span class="text-danger">*</span></p>
                                    <div class="form-group">
                                        <div class="form-line"> 
                                           <ngx-tags-input class="form-control input-lg" (onTagsChanged)="onTagsChanged($event)" [removeLastOnBackspace]="removeLastOnBackspace" [(ngModel)]="model.tags_list" name="tags"></ngx-tags-input>
                                        </div>
                                        <span [hidden]="title.valid || title.pristine" class="text-danger">Title is required</span>
                                    </div>
                                </div>
                            </div>                            
                        </form>
                        <button type="submit" [disabled]="!registerForm.form.valid" class="btn btn-primary m-t-15 waves-effect" (click)="updateVideos()">Update Video</button>&nbsp; &nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-primary m-t-15 waves-effect" (click)="back()">Cancel</button>

                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>