<app-topnav></app-topnav>
<app-sidemenu></app-sidemenu>

<section class="content">
    <div class="container-fluid">
        <!-- <div class="block-header">
                <h2>Manage Users
                    <small>Table</small>
                </h2>
            </div> -->

        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2 class="font-bold">
                            Manage Video
                            <button type="button" (click)="navigateAddvideo()" class="btn btn-success waves-effect pull-right">Add Video</button>
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table  class="table table-bordered table-striped table-hover dataTable videosdataTable" id="videosdataTable">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>preview_image</th>
                                        <th>Description</th>
                                        <th>created_date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let item of videolist let idx=index">
                                        <td>{{idx+1}}</td>
                                        <td>{{item.title}}</td>
                                        <td>
                                            <img src="{{websiteurl}}/{{item.preview_image}}" style="width:10%;">
                                        </td>
                                        <td>{{item.description}}</td>
                                        <td>{{item.created_date}}</td>
                                        <td>
                                            <a href="javascript:void(0);" (click)="editvideo(item.id)">
                                                <i class="material-icons">edit</i></a>
                                            <a href="javascript:void(0);" (click)="deletevideo(item.id)"><i class="material-icons">delete</i></a>
                                            <a  href="javascript:void(0);" data-toggle="modal" data-target="#premiummodal" (click)="getVideodet(item.id)">
                                            <button type="button" class="btn bg-primary waves-effect">Show in premium</button>
                                        </a>
                                        </td>
                                    </tr>
                                    <tr *ngIf="videolist.length==0">
                                        <td>No records found</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal fade" id="premiummodal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="largeModalLabel">Show Premium videos</h4>
                                </div>
                                <div class="modal-body">
                                    <form #addpackage="ngForm">
                                        <div class="col-md-6">
                                            <p><b>Select Premium days</b></p> 
                                            <select class="form-control show-tick" [(ngModel)]="premiumModal.premdays" #premdays="ngModel" name="premdays" (change)="showAmount($event.target.value)" id="pdays" required>
                                                <option [ngValue]="select">select premium days</option>    
                                                <option *ngFor="let model of premiumdays" value="{{model.premium_amount}}">{{model.premium_days}}</option>
                                            </select>
                                            <span [hidden]="premdays.valid || premdays.pristine" class="text-danger">days is required</span>
                                        </div>
                                        <div class="col-md-12" *ngIf="premiumModal.showpremiumamount">
                                            <p><b>Premium Amount</b></p>
                                            <span>
                                                {{premiumModal.premiumamount}}
                                            </span>
                                        </div>
                                        <div class="col-md-12" *ngIf="premiumModal.showpremiumamount">
                                            <p><b>User Name</b></p>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="text" id="username " name="username" class="form-control" placeholder="Enter username" [(ngModel)]="premiumModal.username" (blur)="checkUserexist($event)" #user_name="ngModel" required>
                                                </div>
                                                <span [hidden]="user_name.valid || user_name.pristine" class="text-danger">User Name is required</span>
                                            </div>
                                        </div>
                                        <div class="col-md-12" *ngIf="premiumModal.showpremiumamount">
                                            <p><b>Password</b></p>
                                            <div class="form-group">
                                                <div class="form-line">
                                                    <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" [(ngModel)]="premiumModal.password" #password="ngModel" required>
                                                </div>
                                                <span [hidden]="password.valid || password.pristine" class="text-danger">Password is required</span>
                                            </div>
                                        </div>                                      
                                        <div class="col-md-12">
                                            <div class="preloader pl-size-xs" style="display:none;">
                                                <div class="spinner-layer pl-red-grey">
                                                    <div class="circle-clipper left">
                                                        <div class="circle"></div>
                                                    </div>
                                                    <div class="circle-clipper right">
                                                        <div class="circle"></div>
                                                    </div>
                                                </div>
                                            </div>
                                             <button type="button" class="btn btn-primary" (click)="savepremiumpck()" [disabled]="premiumModal.IsshowPremiumButton">Submit</button>
                                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>